﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #f4f4f4;
}

p {
    margin: 0 0 0;
}

.kh {
    font-family: 'Battambang', cursive;
    font-size: 14px;
}

.navbar {
    -webkit-box-shadow: 0 10px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -4px #999;
    box-shadow: 0 8px 6px -4px #999;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px;
}

#divLoadingModal.show
{
display : block;
position : fixed;
z-index: 100;
background-image : url('loading.gif');
opacity : 0.4;
background-repeat : no-repeat;
background-position : center;
left : 0;
bottom : 0;
right : 0;
top : 0;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100%;
}

#footer {
    padding-top: 15px;
    padding-bottom: 15px;
    background: darkgreen;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 100;
}

#loginPanel {
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
}

#registerPanel {
    margin-top: 30px;
}

.input-validation-error {
    border-color: red;
}

.fc-today {
  background: #eff3f9;
}

.fc-more {
  color: #000;
}

.fc-day-number {
  color: #000;
}

.panel-primary {
    -moz-box-shadow: -1px 1px 60px -8px rgba(0,0,0,0.68);
    -webkit-box-shadow: -1px 1px 60px -8px rgba(0,0,0,0.68);
    box-shadow: -1px 1px 60px -8px rgba(0,0,0,0.68);
}


.main-cover-photo {
    height: 365px;
    background-image: linear-gradient(to right bottom,#6f93d5bf,#28b4b4bf), url(social-protection-cambodia.png);
    background-size: cover;
    background-position: top;
    /*clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);*/
    position: relative;
}

.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo {
    height: 35px;
}

.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.heading-primary {
    color: #fff;
    /*text-transform: uppercase;*/
    backface-visibility: hidden;
    margin-bottom: 30px;
}

.animateSocialLeft {
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

.animateSocialRight {
    animation: moveInRight 2s ease-out;
}

.heading-primary-main {
    display: block;
    font-size: 40px;
    line-height: 30px;
    font-size: 21px;
    margin-bottom: 20px;
    /*
    animation-iteration-count: 3;
    animation-delay: 3s;
    */
}

.heading-primary-sub {
    display: block;
    font-size: 17.5px;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.btns:link,
.btns:visited {
    text-decoration: none;
    padding: 15px 15px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
    color: #000;
    margin-bottom: 5px;
    margin-left: 2px;
    margin-right: 2px;
    width: 180px;
    text-shadow: none;
    margin-top: 25px;
    width: 200px;
}

.btns:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
}

.btns:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.btns-white {
    background-color: #fff;
    color: #777;
}

.btns::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btns-white::after {
    background-color: #fff;
}

.btns:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

@keyframes moveFromBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.btns-animated {
    animation: moveFromBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
}

.progress {
  position: relative;
}

.progress-bar-title {
  position: absolute;
  text-align: center;
  line-height: 21px;
  overflow: hidden;
  color: #000;
  right: 0;
  left: 0;
  top: 0;
  font-size: 12px;
}

.nav-pills>li>a {
    border-style: solid;
    border-color: #2c3e50;
    color: #2c3e50;
}




.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #eff3f9;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}


@media (max-width: 1000px)
{
    .login-block {
        display: none !important;
    }
}

@media (min-width: 992px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform:translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}


.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    background-color: #194619;
    transition: 0.3s;
}

.pagination-nav { margin: 30px 0 20px 0; }
.pagination-nav ul {margin: 0; padding: 0;}
.pagination-nav ul li {display: inline-block; margin: 3px; padding: 6px 10px; background: #FFF; color: black; border-radius: 2px; }
.pagination-nav ul li.active:hover {cursor: pointer; background: #18bc9c; color: white; }
.pagination-nav ul li.inactive {background: #e8e8e8;}
.pagination-nav ul li.selected {background: #18bc9c; color: white;}


/* Blog CSS */

#bottomFooter {
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background: darkgreen;
    color: #fff;
    border-radius: 0 0 10px 10px;
}
#topFooter {
    padding: 15px;
    background: #002618;
    color: #fff;
}

#topFooter .form-control {
    background-color: #505050;
    border: 1px solid #505050;
    color: #cacaca;
}

#blogBody {
    padding-top: 0;
    padding-bottom: 0;
    /*background-color: #f7f8f9;*/
    background-image: url(bg-fade.png);
    background-color: #e7f2fb;
    height: 100%; 
    /*background-position: center;*/
    background-repeat: repeat-x;
    /*background-size: cover;*/
}

#navbarBlog {
    border-radius: 0;
    webkit-box-shadow: 0 0 0 0 #999;
    box-shadow: 0 0 0 0 #999;
    margin-bottom: 0;
}

#blogContainer {
    border-radius: 0 0 10px 10px;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    webkit-box-shadow: -1px 1px 60px -8px rgba(0,0,0,.68);
    box-shadow: -1px 1px 60px -8px rgba(0,0,0,.68);
}

#navbarBrand {
    padding: 4.5px 12px;
    float: left;
}

@media screen and (min-width: 992px) {
    #navbarBrandBlog {
        background-image: url('topnav-background.png');
        background-size: cover;
    }
}

@media screen and (min-width: 992px) {
    #heading-main {
        display: block !important;
    }
    #heading-sub {
        display: block !important;
    }
}


.body-content-blog {
    padding-left: 15px;
    padding-right: 15px;
    /*margin-bottom: 15px;*/
}

.facebook-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.facebook-responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

ul#marqueeList li {
	display: inline;
}

marquee {
    /*background-color: darkslategrey;*/
    color: #fff;
    padding: 5px;
    margin-bottom: 10px;
    background-image: url('marquee-background.jpg');
}

#blogTitle {
    line-height: 34px;
    /*text-align: justify;*/
}

#blogContent {
     line-height: 29px;
     /*text-align: justify;*/
}

#cardDate {
    color: gray;
    font-style: italic;
    font-size: 12px;
    text-align: right;
}

#pPost {
    line-height: 27px;
    color: #000;
    font-weight: bold;
}

/* Pagination Styles */
.pagination-nav { margin: 0 !important;}
.pagination-nav ul {margin: 0; padding: 0;}
.pagination-nav ul li {display: inline-block; margin: 3px; padding: 6px 10px; background: #FFF; color: black; border-radius: 2px; }
.pagination-nav ul li.active:hover {cursor: pointer; background: #18bc9c; color: white; }
.pagination-nav ul li.inactive {background: #e8e8e8;}
.pagination-nav ul li.selected {background: #18bc9c; color: white;}

@media screen and (min-width: 992px) {
    #cardPost {
        height: 350px;
    }
}

#breadcrumbs {
    text-align: center;
    /*background-color: #006400;*/
    padding: 12px;
    font-size: 18px;
    color: #fff;
    margin-bottom: 10px;
    background: url('http://ckf.org.kh/kt-contents/themes/kanthakbopha/img/bg-kbach.png') repeat-x ,#002147;
}

ul li:hover ul.dropdown-menu{
    display: block;	/* Display the dropdown */
}

ul li:not(:hover) ul.dropdown-menu{
    display: none;	/* Display the dropdown */
}
.scroll_dropdown {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

/*.dropdown-menu {
    background-color: #006400;
}*/

/*.dropdown-menu>li>a {
    color: #fff;
}*/

#blogPanelHeading {
    background: url(bg-panelheader.png) repeat-x ,#002147;
    color: #fff;
    padding: 15px 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#blogPanelTitle {
    font-size: 18px;
    text-align: center;
}

#fb {
    padding: 7px 15px;
    background-color: rgb(59, 89, 152);
    font-weight: 900;
    font-size: 20px;
}

#fbsharebutton {
    padding: 5px 8px;
    background-color: #3b5998;
    color: #fff;
    border-radius: 5px;
    font-size: 12px;
    text-decoration: none;
}

#imgUrl {
    width: 138px;
    height: 90px;
    margin: 3px;
    border: solid 1px #000;
    cursor: pointer;
}

#selectedImg {
    width: 138px;
    height: 90px;
    margin: 3px;
    border: solid 1px #000;
    cursor: pointer;
}



.select2-container {
    width: 100% !important;
    padding: 0;
}

.help {
    background-color: darkgreen;
    color: #fff;
    padding: 0 5px;
    border-radius: 50%;
}

.MEF2 {
    font-family: KHMER MEF2;
    font-size: 16px;
    line-height: 30px;
}

.MEF1 {
    font-family: KHMER MEF1;
    font-size: 14px;
    line-height: 30px;
}

.fb-share-button {
    margin-top: -20px;
    right: 55px;
}

#twitter-share-button {
    text-decoration: none;
    color: #fff;
    background-color: #08a0e9;
    border-radius: 3px;
    padding: 2px 5px;
    margin-top: -20px;
    font-size: 11px;
}