﻿

<div class="modal fade" data-backdrop="static" data-keyboard="false" id="principleModal" tabindex="-1" role="dialog" aria-labelledby="principleModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">

        <div id="divLoadingModal"></div>

        <div class="modal-content">

            <div class="panel panel-primary" style="margin-bottom: 0;">
                <div class="panel-heading">
                    <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal">&times; @sambocappweb.Resources.Language.Close</button>
                    <h5 class="modal-title">@sambocappweb.Resources.Language.GeneratePrinciple</h5>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <input id="principleId" name="principleId" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="from">@sambocappweb.Resources.Language.PrincipleOf</label>
                                <select class="form-control input-sm" id="fromPrinciple">
                                    @foreach (var civilServant in Model.CivilServants)
                                    {
                                        <option value=@civilServant.Id>@civilServant.Name</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="to">@sambocappweb.Resources.Language.RequestTo</label>
                                <select class="form-control input-sm" id="toPrinciple">
                                    @foreach (var civilServant in Model.CivilServants)
                                    {
                                        <option value=@civilServant.Id>@civilServant.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="viaPrinciple">@sambocappweb.Resources.Language.Through <a href="javascript:void(0);" data-toggle="collapse" data-target="#viaPrincipleExample"><span class="help">?</span></a></label>
                                <div id="viaPrincipleExample" class="collapse">
                                    <hr />
                                    <span class="glyphicon glyphicon-certificate"></span> @sambocappweb.Resources.Language.Sample:
                                    <ul>
                                        
                                    </ul>
                                </div>
                                <textarea id="viaPrinciple" rows="2" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="objectivePrinciple">@sambocappweb.Resources.Language.Objective <a href="javascript:void(0);" data-toggle="collapse" data-target="#objectivePrincipleExample"><span class="help">?</span></a></label>
                                <div id="objectivePrincipleExample" class="collapse">
                                    <hr />
                                    <span class="glyphicon glyphicon-certificate"></span> @sambocappweb.Resources.Language.Sample:
                                    <ul>
                                        <li class="MEF1">សំណើសុំគោលការណ៍ចុះពិនិត្យស្ថានភាពនៃការអនុវត្តកម្មវិធីឧបត្ថម្ភសាច់ប្រាក់ជូនស្ត្រីមានផ្ទៃពោះ និងកុមារអាយុក្រោម ២ឆ្នាំ និងសំណើរសុំហត្ថលេខាដ៏ខ្ពង់ខ្ពស់លើលិខិតអញ្ជើញ</li>
                                        <li class="MEF1">សំណើសុំគោលការណ៍ចូលរួមវគ្គបណ្តុះបណ្តាលស្តីពី "Designing and Implementing Social Protection System"</li>
                                        <li class="MEF1">សំណើសុំគោលការណ៍ចាត់តាំងមន្ត្រី ដើម្បីចូលរួមសិក្ខាសាលាស្តីពី "Information Technology in Health Insurance Systems"</li>
                                        <li class="MEF1">សំណើសុំគោលការណ៍រៀបចំសិក្ខាសាលាថ្នាក់ជាតិដើម្បីផ្សព្វផ្សាយ "ឯកសារក្របខ័ណ្ឌគោលនយោបាយជាតិគាំពារសង្គម ២០១៦-២០២៥"</li>
                                    </ul>
                                </div>
                                <input id="objectivePrinciple" name="objectivePrinciple" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="referencePrinciple">@sambocappweb.Resources.Language.Reference <a href="javascript:void(0);" data-toggle="collapse" data-target="#referencePrincipleExample"><span class="help">?</span></a></label>
                                <div id="referencePrincipleExample" class="collapse">
                                    <hr />
                                    <span class="glyphicon glyphicon-certificate"></span> @sambocappweb.Resources.Language.Sample:
                                    <ul>
                                        <li class="MEF1">សារអេឡិចត្រូនិចរបស់កម្មវិធីអភិវឌ្ឍន៍សហប្រជាជាតិ (UNDP) នាថ្ងៃទី២៨ ខែសីហា ឆ្នាំ២០១៩</li>
                                        <li class="MEF1">លិខិតអញ្ជើញរបស់អង្គការ GIZ ចុះថ្ងៃទី១២ ខែមិថុនា ឆ្នាំ២០១៩</li>
                                        <li class="MEF1">លិខិតចុះថ្ងៃទី១៥ ខែឧសភា ឆ្នាំ២០១៩ របស់មូលនិធិសហប្រជាជាតិដើម្បីកុមារ (UNICEF)</li>
                                    </ul>
                                </div>
                                <textarea id="referencePrinciple" rows="2" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="contentPrinciple">@sambocappweb.Resources.Language.Content</label>
                                <textarea id="contentPrinciple" rows="14" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="locationPrinciple">@sambocappweb.Resources.Language.Location <a href="javascript:void(0);" data-toggle="collapse" data-target="#locationPrincipleExample"><span class="help">?</span></a></label>
                                <div id="locationPrincipleExample" class="collapse">
                                    <hr />
                                    <span class="glyphicon glyphicon-certificate"></span> @sambocappweb.Resources.Language.Sample:
                                    <ul>
                                        <li class="MEF1">នៅទីក្រុងបាងកក ប្រទេសថៃ</li>
                                        <li class="MEF1">នៅខេត្តត្បូងឃ្មុំ</li>
                                        <li class="MEF1">នៅទីក្រុងសេអ៊ូលនៃសារធារណៈរដ្ឋកូរ៉េ</li>
                                    </ul>
                                </div>
                                <input id="locationPrinciple" name="locationPrinciple" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" id="btnSavePrinciple" class="btn btn-primary btn-block btn-sm"><span class="glyphicon glyphicon-floppy-save"></span> <span class="kh">រក្សាទុក</span> / Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







