﻿



<div class="modal fade" data-backdrop="static" data-keyboard="false" id="advertisePayModal" aria-labelledby="advertisePayModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal" aria-hidden="true">Close</button>
                <b class="modal-title" style="color:darkblue">Manage Advertise Payment</b>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <input type="text" id="ID" name="ID" hidden value="" />
                        <input type="text" id="advertiseId" name="advertiseId" hidden value="" />
                        <div class="form-group">
                            <img class="center img-responsive img-thumbnail" id="advertisePayPhoto" src="~/Images/company.png" alt="Alternate Text" />
                        </div>
                        <div class="form-group">
                            <label>Upload Photo</label>
                            <input onchange="readURLAdvertisePay(this);" type="file" name="file" id="file" style="width:100%;" value="" />
                            <input type="hidden" value="" id="file_old" />
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="well">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="date">Date</label>
                                        <input type="date" name="date" id="date" class="form-control input-sm" value="" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="amount">Amount</label>
                                        <input type="number" name="amount" id="amount" class="form-control input-sm" value="0.00" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="noteAd">Note</label>
                                        <textarea name="noteAd" id="noteAd" rows="3" style="min-width:100%; max-width:100%" class="form-control input-sm" value=""></textarea>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <button class="btn btn-sm btn-primary form-control" onclick="AdvertisePayAction();" id="btnAdvertisePay">Add New</button>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:10px">
                    <div class="col-md-12">
                        <table class="table-hover table-bordered table-condensed table-striped" style="width:100%" id="AdvertisePayTbl">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Date</th>
                                    <th>Amount</th>
                                    <th>Note</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

