﻿@model IEnumerable<sambocappweb.Models.Shop>
@using sambocappweb.Resources
@{
    Layout = null;
}

<form id="banner" action="/api/banners" method="post" enctype="multipart/form-data">

<div class="modal fade" data-backdrop="static" data-keyboard="false" id="bannerModel" tabindex="-1" role="dialog" aria-labelledby="bannerModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div id="divLoadingModal"></div>
        <div class="modal-content">
            <div class="modal-header clearfix">
                <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal">&times; @Language.Close</button>
                <b class="modal-title" style="color: darkblue;"></b>
            </div>
            <div class="modal-body" style="background-color:rgb(107 255 177 / 0.32); ">
                <div class="row">
                    <div class="col-md-8" style="background-color:rgb(182 182 182 / 0.35);border-radius:5px">
                        <br />
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="bannershopid">@Language.ShopName</label>
                                        <select class="form-control input-sm" id="bannershopid">
                                            @foreach (var shopeselector in Model)
                                            {
                                <option value=@shopeselector.id>@shopeselector.shopName</option>}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" style="display:none">
                                <label for="bannerid">@Language.Id</label>
                                <input id="bannerid" name="bannerid" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                            </div>
                            <div class="form-group">
                                <label for="bannerdate">@Language.startdate</label>
                                <input id="bannerdate" name="bannerdate" type="date" value="@DateTime.Now.ToString("yyyy'-'MM'-'dd")" class="form-control input-sm" style="min-width: 100%" />
                            </div>
                            <div class="form-group" style="display:none">
                                <label for="userid"> @Language.Username</label>
                                <input id="banneruserid" name="banneruserid" placeholder="Please Input UserId" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                            </div>
                        </div>
                    </div>
                        <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="qtymonth">Qty Month</label>
                                        <select name="qtymonth" class="form-control input-sm" id="qtymonth">
                                            <option value="">Select_Qty_Month</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15">15</option>
                                            <option value="16">16</option>
                                            <option value="17">17</option>
                                            <option value="18">18</option>
                                            <option value="19">19</option>
                                            <option value="20">20</option>
                                            <option value="21">21</option>
                                            <option value="22">22</option>
                                            <option value="23">23</option>
                                            <option value="24">24</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="bannerexireddate">@Language.bannerexireddate</label>
                                        <input id="bannerexireddate" name="bannerexireddate" placeholder="Please Input Expied Date" type="date" value="" class="form-control " style="min-width: 100%" />

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="bannerstatus">@Language.Status</label>
                                        <select class="form-control input-sm" id="bannerstatus">
                                            <option value="New">Request</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="co-md-12">
                                <div class="col-md-8">
                                    <input type="hidden" id="txtbtnBanner" value="Save">
                                    <button type="button" id="btnBanner" onclick="BannerAction();" class="btn btn-primary btn-block">@Language.Save</button>
                                </div>
                                <div class="col-md-4">
                                    <button type="button" id="btnorder" onclick="ClearControl();" class="btn btn-warning btn-block">@Language.Clear</button>
                                </div>
                            </div>
                        </div>
                        <br />
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <img class="center img-responsive img-thumbnail" id="BannerPhoto" src="~/Images/company.png" />
                        </div>
                        <div class="form-group">
                            <label>@Language.UploadPhoto</label>
                            <input onchange="readURLBanner(this);" type="file" id="bannerfile" style="width:222px; height:170px;" />
                            <input type="hidden" value="" id="banner_old" />
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</form>


