﻿@using sambocappweb.Resources
<div class="modal fade" data-backdrop="static" data-keyboard="fale" id="LocationModel" tabindex="-1" role="dialog" aria-labelledby="LocationModel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="loadingGif"></div>
            <div class="modal-header">
                <button type="button" class="btn-danger btn-xs pull-right" onclick="ClearControl();" data-dismiss="modal" aria-hidden="true">@Language.Close</button>
                <b class="modal-title" style="color:darkblue">@Language.controll @Language.Location</b>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="form-group" style="display:none">
                                <label for="currencyid">@Language.Id</label>
                                <input id="id" name="id" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                            </div>
                            <label for="Location">@Language.Location</label>
                            <input id="location" name="location" type="text" value="" class="form-control input-sm" placeholder="Input location Name" />
                        </div>
                        <div class="form-group">
                            
                            <label for="Location">@Language.Action</label>
                            <input id="active" name="active" type="text" value="" class="form-control input-sm hidden" placeholder="" />
                            <select name="active" class="form-control input-sm" id="active">
                                <option value="true">Active</option>
                                <option value="false">Disable</option>
                            </select>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <input type="hidden" id="txtbtnlocation" name="txtbtnlocation" value="Save" />
                        <button type="button" id="btnLocation" onclick="locationAction()" class="btn btn-primary btn-block btn-sm">@Language.Save</button>

                        @*<button type="button" id="btnSetupbank" onclick="setupAction();" class="btn btn-primary btn-block btn-sm">@Language.Save</button>*@
                    </div>
                </div>
            </div>
            <div class="panel-body" style="overflow-x:auto;">
                <table class="table-hover table-bordered table-condensed table-striped" style="width:100%" id="tbllocation">
                    <thead>
                        <tr>
                            <th>@Language.Id</th>
                            <th>@Language.Location </th>
                            <th>@Language.Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/Scripts/Functions/location.js")
}
