﻿@using sambocappweb.Resources
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Layout/css/table.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <button type="button" class="btn btn-success btn-sm fa-pull-right" id="btnlocation" data-toggle="modal" data-target="#LocationModel" style="margin-right:2px"><span class="glyphicon glyphicon-plus-sign"></span>@sambocappweb.Resources.Language.AddNew <span></span></button>
            <h5 class="modal-title">@sambocappweb.Resources.Language.BankName @sambocappweb.Resources.Language.controll</h5>

        </div>
        <div class="panel-body" style="overflow-x:auto;">
            <table class="table-hover table-bordered table-condensed table-striped" style="width:100%" id="tbllocation">
                <thead>
                    <tr>
                        <th>@Language.Id</th>
                        <th>@Language.Location </th>
                        <th>@Language.Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
@Html.Partial("_Location")
@section scripts{
    @Scripts.Render("~/Scripts/Functions/location.js")
}
