﻿
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="ContractModal" aria-labelledby="ContractModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal" aria-hidden="true">Close</button>
                <b class="modal-title" style="color:darkblue">Manage Customer</b>
            </div>
            <div class="modal-body" style="background-color:lightcyan">
                <div class="row">
                    <div class="col-md-8">
                        <div class="">
                            <div class="row">
                                <input type="text" name="id" id="contractid"  value="" />
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="date">Date</label>
                                        <input type="date" name="date" id="date" class="form-control input-sm" value="@DateTime.Now.ToString("yyyy'-'MM'-'dd")" placeholder="mm/dd/yyy" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 " hidden>
                                    <div class="form-group">
                                        <label for="tokenid">ShopId</label>
                                        <input type="text" name="shopid" id="shopid" class="form-control input-sm"  value="" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="phone">Note</label>
                                        <input type="text" name="note" id="notetext"  class="form-control input-sm" value="" />
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <button class="btn btn-xs btn-primary form-control" onclick="ContractAction();" id="btnSaveContract">Save</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Image Profile</label>
                            <img class="center img-responsive img-thumbnail" id="AttPhoto" src="~/Images/company.png" alt="Alternate Text" />
                        </div>
                        <div class="form-group">
                            <label>Upload Photo</label>
                            <input onchange="readURLqrCodeImage(this);" type="file" id="attachment" name="file" style="width:100%;" value="" />
                            <input type="hidden" value="" id="file_old" />
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>

