﻿@model sambocappweb.ViewModels.JobViewModel
@using sambocappweb.Resources
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Layout/css/table.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <button type="button" onclick="AddnewAction();" class="btn btn-warning btn-xs pull-right" id="btCreate" data-toggle="modal" data-target="#ContractModal"><span class="glyphicon glyphicon-plus-sign"></span> Add New Customer</button>

            <h5 class="modal-title">Contract Shop</h5>

        </div>
        <div class="panel-body" style="overflow-x:auto;">
            <table class="table-hover table-bordered table-condensed table-striped" style="width:100%" id="tblContract">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Shop Name</th>
                        <th>Date</th>
                        <th>Attachment</th>
                        <th>Not</th>
                        <th>Action_________</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

@Html.Partial("_ContractShops")

@section scripts{
    @Scripts.Render("~/Scripts/moment.min.js")
    @Scripts.Render("~/Scripts/Functions/contract.js")

}

