﻿@{
    ViewBag.Title = "Manage Close Balance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="loadingGif"></div>

<div class="container-fluid">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <h5 class="modal-title pull-left">@sambocappweb.Resources.Language.CloseBalance</h5>
            @*<button class="btn-success btn-xs pull-right" type="button" data-toggle="modal" data-target="#paymentmethodModel" style="margin-right:5px;"><span class="glyphicon glyphicon-cog"></span>@sambocappweb.Resources.Language.PaymentMethod</button>*@
            @*<button class="btn-success btn-xs pull-right" type="button" data-toggle="modal" data-target="#transferModel" style="margin-right:5px;"><span class="glyphicon glyphicon-cog"></span>@sambocappweb.Resources.Language.TransferInfo</button>*@
            @*<button class="btn-success btn-xs pull-right" type="button" data-toggle="modal" data-target="#closeBalanceModel" style="margin-right:5px;"><span class="glyphicon glyphicon-cog"></span>@sambocappweb.Resources.Language.BeginingBalace</button>*@

        </div>
        <div class="row" style="margin-left:5px; margin-top:5px">
            <input type="text" class="form-control hidden" placeholder="Select End Date" id="closeBalanceid">

            <div class="col-md-2 col-12 form-group">
                <label for="">@sambocappweb.Resources.Language.Date</label>
                <input type="date" class="form-control" placeholder="Select End Date" name="todate" id="todate">
            </div>
            <div class="col-md-1 col-12 form-group">
                <label for="">@sambocappweb.Resources.Language.Preview</label>
                <button type="button" class="form-control btn btn-primary" name="btnGetById" id="btnGetById" onclick="GetCloseBalanceByDate();">@sambocappweb.Resources.Language.Preview</button>
            </div>

        </div>
        <hr />  
        
        <div class="row">
            <div class="col-md-3" style="margin-left:10px;">
                <div class="row">
                    <div class="col-md-11" style="margin-left:10px;margin-bottom:20px">
                        <label for="">StartBalance</label>
                        <input type="text" class="form-control input-sm" placeholder="Start Balance" id="startbalances">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-11" style="margin-left:10px">
                        <label for="">@sambocappweb.Resources.Language.CivilCase</label>
                        <input type="text" class="form-control input-sm" placeholder="CivilCase Pay" id="civilCasePay">
                    </div>

                </div>
                <br />
                <div class="row">
                    <div class="col-md-11" style="margin-left:10px">
                        <label for="">@sambocappweb.Resources.Language.Contract</label>
                        <input type="text" class="form-control input-sm" placeholder="Contract Pay" id="contractPay">
                    </div>

                </div>
                <br />
                <div class="row">
                    <div class="col-md-11" style="margin-left:10px">
                        <label for="">@sambocappweb.Resources.Language.Income</label>
                        <input type="text" class="form-control input-sm" placeholder="Other Income" id="otherIncome">
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-11" style="margin-left:10px">
                        <label for="">@sambocappweb.Resources.Language.OtherExpense</label>
                        <input type="text" class="form-control input-sm" placeholder="Other Expence" id="otherExpense">
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-11" style="margin-left:10px;">
                        <label for="">@sambocappweb.Resources.Language.EndBalance</label>
                        <input type="text" class="form-control input-sm" placeholder="End Balance" id="endBalance">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-11" style="margin-left:10px; margin-top:20px">
                        <button type="button" id="btnCal" onclick="CalAction();" class="btn btn-primary btn-block btn-sm"> CalCulate</button>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-11" style="margin-left:10px; margin-top:20px">
                        <button type="button" id="btnCloseBalance" onclick="CloseBalanceAction();" class="btn btn-primary btn-block btn-sm"> Add New</button>

                    </div>
                </div>


            </div>
            <div class="col-md-8">
                <div class="form-group">

                    <table id="closeBalanceTable" class="table table-hover table-bordered" style="margin-top:24px">
                        <thead>
                            <tr>
                                <th>StartBalance</th>
                                <th>CivilCasePay </th>
                                <th>ContractPay</th>
                                <th>@sambocappweb.Resources.Language.Income</th>
                                <th>@sambocappweb.Resources.Language.OtherExpense</th>
                                <th>@sambocappweb.Resources.Language.EndBalance</th>
                                <th>@sambocappweb.Resources.Language.Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>


                </div>
            </div>
            @*<div class="col-md-2">
                
            </div>
            <div class="col-md-2">
                *@
            @*</div>
            <div class="col-md-3">

            </div>*@
        </div>
        @*<div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <button type="button" id="btnCloseBalance" onclick="CloseBalanceAction();" class="btn btn-primary btn-block btn-sm"> Add New</button>

                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <button type="button" class="btn btn-danger btn-block btn-sm" data-dismiss="modal">&times; @sambocappweb.Resources.Language.Close</button>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <button type="button" class="btn btn-danger btn-block btn-sm" data-dismiss="modal">&times; Delete</button>

                </div>
            </div>
            <div class="col-md-3">

            </div>
        </div>*@

    </div>
</div>




@*@Html.Partial("_Transfer")*@

@section scripts
{

    @Scripts.Render("~/Scripts/Functions/closeBalance.js")
    @Scripts.Render("~/Scripts/moment.min.js")
}