﻿@using sambocappweb.Resources
@using Microsoft.AspNet.Identity
@{ 
    string classOpen = "closed ";
}
@if (Request.IsAuthenticated)
{
    classOpen = "";
}
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewBag.Title - SambocWeb Information System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/jquery-ui.css">
    <script data-pace-options='{ "ajax": false }' src="~/Scripts/pace.min.js" type="text/javascript"></script>


    <link href="~/Content/Layout/css/js/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
    @*FontAwesome Styles*@
    @*<link href="~/Content/Layout/css/font-awesome.css" rel="stylesheet" />*@
    @*Custom Styles*@
    <link href="~/Content/Layout/css/custom-styles.css" rel="stylesheet" />
    

</head>

<body>

    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar navbar-fixed-top" role="navigation" id="scrollContent">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle waves-effect waves-dark" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(@Language.systemapp, "", "Home", new { area = "" }, new { @class = "navbar-brand" })

                <div id="sideNav" class="@classOpen"><i class="fa fa-list"></i></div>
            </div>
            <div class="navbar-collapse collapse" style="color:#ffffff">


                @Html.Partial("_LoginPartial")

            </div>
        </nav>

        <!--/. NAV TOP  -->

        @Html.Partial("_LeftMenu")

        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" style="margin-right:15px">
            @RenderBody()

        </div>

        @Scripts.Render("~/bundles/lib")
        @RenderSection("scripts", required: false)
        @Scripts.Render("~/Content/Layout/css/js/custom-scripts.js")
        @Scripts.Render("~/Content/Layout/css/js/jquery.metisMenu.js")
        @Scripts.Render("~/Content/Layout/css/js/dataTables/jquery.dataTables.js")
        @Scripts.Render("~/Content/Layout/css/js/dataTables/dataTables.bootstrap.js")

        @if (Request.IsAuthenticated)
        {

        }
        else
        {
            <script type="text/javascript">

                $(document).ready(function () {
                    $("#page-wrapper").css({ 'margin-left': '0px' });
                });

            </script>
        }

    </div>
    <script>
        var prevScrollpos = window.pageYOffset;
        window.onscroll = function () {
            var currentScrollPos = window.pageYOffset;
            if (prevScrollpos > currentScrollPos) {
                //document.getElementById("navbar").style.top = "0";
            } else {
                //document.getElementById("navbar").style.top = "-50px";
            }
            prevScrollpos = currentScrollPos;
        }
    </script>
</body>

</html>

