﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="MIS - Management Information System" />
    <title>@ViewBag.Title - MISTEAMS</title>
    @RenderSection("FacebookOptimize", required: false)
    <meta name="Content-Type-Script" content="text/javascript" />
    <meta name="Content-Type-Style" content="text/css" />
    <meta name="description" content="" />
    <meta name="referrer" content="always" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/jquery-ui.css">
    <script data-pace-options='{ "ajax": false }' src="~/Scripts/pace.min.js" type="text/javascript"></script>
</head>
<body id="blogBody">
    <!-- Facebook Page Plugin -->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v4.0&appId=254830478352948&autoLogAppEvents=1"></script>
    <div class="container" id="blogContainer">
        <!-- Navbar -->
        @Html.Partial("_NavbarBlog")
        <div class="body-content-blog">
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-md-12">
                    @RenderBody()
                </div>
            </div>
            @Html.Partial("_SocialBlog")
        </div>
        @Html.Partial("_FooterBlog")
        @Scripts.Render("~/bundles/lib")
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
