﻿@using sambocappweb.Resources
@using Microsoft.AspNet.Identity
@{ 
    string leftMenuMaring = "left: -220px;";
    if (Request.IsAuthenticated)
    {
        leftMenuMaring = "";
    }
    
}


<div id="wrapper">
  
    @*/. NAV TOP*@
    <nav class="navbar-default navbar-side" role="navigation" style="@leftMenuMaring" >
        <div class="sidebar-collapse">
            <br />
            @if (Request.IsAuthenticated)
            {
        <ul class="nav" id="main-menu">

            @{
                var action = ViewContext.RouteData.Values["Action"].ToString().ToLower();
                var controller = ViewContext.RouteData.Values["Controller"].ToString().ToLower();
            }
            @*<li>@Html.ActionLink("-", "Index", "manage-shop")</li>*@
            <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "CivilCases") ? "active" : "")">
                <a href="@Url.Action("Index", "Customers")"><span> </span> </a>
            </li>
            <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "CivilCases") ? "active" : "")">
                <a href="@Url.Action("Index", "Customers")"><span class="glyphicon glyphicon-user"> </span><span> </span> @sambocappweb.Resources.Language.ManageCustomer</a>
            </li>
            
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-folder-open" style="rotation:180deg;"><span></span></span> @sambocappweb.Resources.Language.ManageShop <span class="glyphicon glyphicon-chevron-down pull-right"></span></a>
                <ul class="dropdown-menu animate" style="width:220px;">
                    
                    <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "") ? "active" : "")">
                        <a href="@Url.Action("Index", "Shops")"><span class="glyphicon glyphicon-cutlery"> </span><span> </span> @sambocappweb.Resources.Language.ManageShop</a>
                    </li>
                    <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "Shops") ? "active" : "")">
                        <a href="@Url.Action("Index", "ShopPayments")"><span class="glyphicon glyphicon-usd"> </span><span> </span> @sambocappweb.Resources.Language.ShopPayment</a>
                    </li>
                    <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "Shops") ? "active" : "")">
                        <a href="@Url.Action("Index", "Qrcodes")"><span class="	glyphicon glyphicon-qrcode"> </span><span> </span> QR កូដ</a>
                    </li>
                    
                </ul>
            </li>
           
            <li>
            @*<li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "Shops") ? "active" : "")">
                <a href="@Url.Action("Index", "Shops")"><span class="glyphicon glyphicon-cutlery"> </span><span> </span> @sambocappweb.Resources.Language.ManageShop</a>
            </li>*@
            <li>
            <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "deliverytypes") ? "active" : "")">
                <a href="@Url.Action("Index", "DeliveryTypes")"><span class="glyphicon glyphicon-plane"> </span><span> </span> @sambocappweb.Resources.Language.DeliveryTypes</a>
            </li>
            <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "products") ? "active" : "")">
                <a href="@Url.Action("Index", "Products")"><span class="glyphicon glyphicon-shopping-cart"> </span><span> </span> @sambocappweb.Resources.Language.Product</a>
            </li>

            <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "banners") ? "active" : "")">
                <a href="@Url.Action("Index", "Banners")"><span class="glyphicon glyphicon-blackboard"> </span><span> </span> @sambocappweb.Resources.Language.Banners</a>
            </li>
            <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "currencies") ? "active" : "")">
                <a href="@Url.Action("Index", "Currencies")"><span class="glyphicon glyphicon-usd"> </span><span> </span> @sambocappweb.Resources.Language.Currencies</a>
            </li>
            <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "exchanges") ? "active" : "")">
                <a href="@Url.Action("Index", "Exchanges")"><span class="glyphicon glyphicon-refresh"> </span><span> </span> @sambocappweb.Resources.Language.Exchanges</a>
            </li>
            <li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "orders") ? "active" : "")">
                <a href="@Url.Action("Index", "Orders")"><span class="glyphicon glyphicon-list-alt"> </span><span> </span> @sambocappweb.Resources.Language.Order</a>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-folder-open" style="rotation:180deg;"><span></span></span> @sambocappweb.Resources.Language.SetUp <span class="glyphicon glyphicon-chevron-down pull-right"></span></a>
                <ul class="dropdown-menu animate slideIn" style="width:220px;">

                    <li>
                        <a href="@Url.Action("Index", "SetUpBanks")"><span class="glyphicon glyphicon-triangle-right"><span>&nbsp;</span></span> @sambocappweb.Resources.Language.Bank</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Privacys")"><span class="glyphicon glyphicon-triangle-right"><span>&nbsp;</span></span>@sambocappweb.Resources.Language.Privacy</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Locations")"><span class="glyphicon glyphicon-triangle-right"><span>&nbsp;</span></span>@sambocappweb.Resources.Language.Location</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "SetupFees")"><span class="glyphicon glyphicon-triangle-right"><span>&nbsp;</span></span>ប្រភេទថ្លៃសេវា</a>
                    </li>
                    @*<li class="@((ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "Shops") ? "active" : "")">
                        <a href="@Url.Action("Index", "SetupFees")"><span class=" glyphicon glyphicon-plus"> </span><span> </span> ប្រភេទថ្លៃសេវា</a>
                    </li>*@
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="" aria-expanded=""><span class="glyphicon glyphicon-folder-open" style=""><span></span></span> @sambocappweb.Resources.Language.Report <span class="glyphicon glyphicon-chevron-down pull-right"></span></a>
                <ul class="dropdown-menu scroll_dropdown" style="width:220px;">
                    <li>@Html.ActionLink("-របាយកាណ៌ហាងទំនិញ", "", "shop-list")</li>
                    <li>@Html.ActionLink("-របាយកាណ៌លក់", "", "sale-list")</li>
                    <li>@Html.ActionLink("-របាយកាណ៌លម្អិតពីការលក់", "", "saledetail-list")</li>
                    <li>@Html.ActionLink("-របាយកាណ៌អតិថិជន", "", "customer-list")</li>
                    <li>@Html.ActionLink("-របាយកាណ៌ផ្សាយពាណិជ្ជកម្ម", "", "banner-list")</li>
                </ul>
            </li>
            
        </ul>

                }

        </div>
       
    </nav>
    @*/. NAV SIDE*@
<div id="page-inner"  >

    <footer id="footer">
        <div class="container-fluid">

            <div class="row-">
                <div class="col-md-12">
                    <span>@sambocappweb.Resources.Language.LoginID : @(Request.IsAuthenticated ? @Request.Cookies["Fullname"].Value : "")</span>
                    &nbsp;<span class="">@(Request.IsAuthenticated ? sambocappweb.Resources.Language.Loggedas + ": " + @Request.Cookies["Fullname"].Value : "")</span>
                    &nbsp;<span>&copy; @DateTime.Now.ToString("dd'-'MM'-'yyy") </span>
                </div>
                
            </div>
        </div>
    </footer>
</div>

</div>


 