﻿@using Microsoft.AspNet.Identity
@using sambocappweb.helper
@if (Request.IsAuthenticated)
{
    CheckPermissionUser permissionUser=new CheckPermissionUser();
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()
<div class="container-fluid" >

        <ul class="nav navbar-nav navbar-right" >
            <li class="dropdown" >
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-cog"></span> @sambocappweb.Resources.Language.Setting <span class="caret"></span></a>
                <ul class="dropdown-menu animate slideIn" >
                    @if (User.IsInRole("Register New User") || permissionUser.isSuperAdmin(User.Identity.GetUserName()))
                    {
                        <li>
                            <a href="@Url.Action("Register", "Account")"><span class="glyphicon glyphicon-plus-sign"></span> @sambocappweb.Resources.Language.RegisterNewUser</a>
                        </li>
                    }
                    @if (User.IsInRole("Manage System User Permissions") || permissionUser.isSuperAdmin(User.Identity.GetUserName()))
                    {
                        <li>
                            <a href="@Url.Action("Index", "Role")"><span class="glyphicon glyphicon-menu-hamburger"></span> Role</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "UserRoles")"><span class="glyphicon glyphicon-user"></span> @sambocappweb.Resources.Language.ManageUserRoles</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "LoginHistories")"><span class="glyphicon glyphicon-record"></span> @sambocappweb.Resources.Language.LoggedinHistory</a>
                        </li>

                    }
                    <li>
                        <a href="@Url.Action("Manage", "Account")"><span class="glyphicon glyphicon-edit"></span> @sambocappweb.Resources.Language.ChangePassword</a>
                    </li>
                </ul>
            </li>

            <li>
                @if (Request.Cookies["Language"].Value == "km")
                {
                    <a href="@Url.Action("Change", "Language", new { LanguageAbbrevation = "en" }, null)">
                        <img src="~/Content/english-flag.png" style=" width: 17px;"> English
                    </a>
                }
                else
                {
                    <a href="@Url.Action("Change", "Language", new { LanguageAbbrevation = "km" }, null)">
                        <img src="~/Content/cambodia-flag.png" style=" width: 17px;"> ភាសាខ្មែរ
                    </a>
                }
            </li>            
            <li><a href="javascript:document.getElementById('logoutForm').submit()"><span class="glyphicon glyphicon-off"></span> @sambocappweb.Resources.Language.Logoff</a></li>
        </ul>
</div>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right white" >
        <li>
            @if (Request.Cookies["Language"].Value == "km")
            {
                <a href="@Url.Action("Change", "Language", new { LanguageAbbrevation = "en" }, null)">
                    <img src="~/Content/english-flag.png" style=" width: 17px;"> English
                </a>
            }
            else
            {
                <a href="@Url.Action("Change", "Language", new { LanguageAbbrevation = "km" }, null)">
                    <img src="~/Content/cambodia-flag.png" style=" width: 17px;"> ភាសាខ្មែរ
                </a>
            }
        </li>

        <li>@Html.ActionLink(@sambocappweb.Resources.Language.Login, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
