﻿@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = "Add New Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@*@using (Html.BeginForm())
{
    <p> Enter User Role Name:</p>

    @Html.EditorFor(m => m.Name)
    <input type="submit" value="Create Role" />
}*@


<div class="container">
    <div class="col-md-6 col-md-offset-3">
        <div id="registerPanel" class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Add New User Role</h3>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("Create", "Role", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @*@Html.ValidationSummary("", new { @class = "text-danger" })*@
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-12">
                                    @Html.LabelFor(m => m.Name)
                                </div>
                                <div class="col-md-12">
                                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control input-sm" })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="form-group">
                        <div class="col-md-5">
                            <input type="submit" class="btn btn-primary btn-block " value="Create" />

                        </div>
                        <div class="col-md-5">
                            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-success btn-block" })

                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
