﻿@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <a href="/Role/Create" class="btn-success btn-xs pull-right" type="button" style="margin-right:5px; text-decoration:none;">
                <span class="glyphicon glyphicon-cog"></span>  Click to Create New Role
            </a>
            <div class="panel-heading">
                <h3 class="panel-title">User Role</h3>
            </div>
        </div>
        <div class="panel-body" style="overflow-x:auto;">
            <table class="table table-hover table-bordered" id="orderTable" style="width:100%">
                <thead>
                    <tr>
                        <th>Role Name</th>
                        <th style="width: 220px;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Name</td>

                            <td>

                                @Html.ActionLink("Edit", "Edit/" + item.Id, "Role")
                                |
                                @*@Html.ActionLink("Delete", "DeleteUser/" + item.Id, "UserRoles", null, new { onclick = "return confirm('Are you sure you wish to delete this user?');" })*@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>