﻿
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="casepositionModal" style="z-index:1043 !important; " tabindex="-1" role="dialog" aria-labelledby="casepositionModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div id="divLoadingModal"></div>
        <div class="modal-content">
            <div class="modal-header clearfix">
                <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal">&times; @sambocappweb.Resources.Language.Close</button>
                <b class="modal-title" style="color: darkblue;">@sambocappweb.Resources.Language.CasePosition</b>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input id="casepositionId" name="casepositionId" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="casepositionName">@sambocappweb.Resources.Language.CasePosition</label>
                            <input id="casepositionName" name="casepositionName" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="casepositionNote">@sambocappweb.Resources.Language.Description</label>
                            <input id="casepositionNote" name="casepositionNote" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <button type="button" id="btnCasePositionAction" onclick="CasePositionAction()" class="btn btn-primary btn-block btn-sm">Save changes</button>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <table id="CasePositionTable" class="table table-hover table-bordered table-condensed table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>@sambocappweb.Resources.Language.CasePosition</th>
                                    <th>@sambocappweb.Resources.Language.Description</th>
                                    <th>@sambocappweb.Resources.Language.Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

