﻿
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="civilcasepaymentModal" tabindex="-1" role="dialog" aria-labelledby="civilcasepaymentModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div id="divLoadingModal"></div>
        <div class="modal-content">
            <div class="modal-header clearfix">
                <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal">&times; @sambocappweb.Resources.Language.Close</button>
                <b class="modal-title" style="color: darkblue;">@sambocappweb.Resources.Language.PaidStatus</b>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <input id="civilcasepaymentid" name="civilcasepaymentid" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />
                        <input id="civilcaseid" name="civilcaseid" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="civilcasepaymentdate">@sambocappweb.Resources.Language.Date</label>
                                <input id="civilcasepaymentdate" name="civilcasepaymentdate" placeholder="" type="date" value="" class="form-control input-sm" style="min-width: 100%" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="civilcasepaymentduedate">@sambocappweb.Resources.Language.DueDate</label>
                                <input id="civilcasepaymentduedate" name="civilcasepaymentduedate" placeholder="" type="date" value="" class="form-control input-sm" style="min-width: 100%" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="paymentpaidamount">@sambocappweb.Resources.Language.PaidAmount</label>
                                <input id="paymentpaidamount" name="paymentpaidamount" placeholder="" type="number" value="" class="form-control input-sm" style="min-width: 100%" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="paymentnote">@sambocappweb.Resources.Language.Description</label>
                                <input id="paymentnote" name="paymentnote" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="paymentreferred">@sambocappweb.Resources.Language.Reference</label>
                                <input id="paymentreferred" name="paymentreferred" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="paymentmethodid">@sambocappweb.Resources.Language.PaymentMethod</label>
                                <select class="form-control input-sm" id="paymentmethodid">
                                    @foreach (var pos in Model.Paymentmethods)
                                    {
                                        <option value=@pos.id>@pos.paymentmethodname</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label style="display: inline-block" for="paymentbillgroup">
                                    <input id="paymentbillgroup" style="vertical-align: middle" type="checkbox" />
                                    <span style="vertical-align: middle">@sambocappweb.Resources.Language.BillGroup</span>
                                </label>
                            </div>
                        </div>
                        
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="paymentpaystatus">@sambocappweb.Resources.Language.PaidStatus</label>
                                <select class="form-control input-sm" id="paymentpaystatus">
                                    <option>Paid</option>
                                    <option>Pending</option>
                                    <option>Cancel</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="civilcasepaymentpaiddate">@sambocappweb.Resources.Language.CompleteDate</label>
                                <input id="civilcasepaymentpaiddate" name="civilcasepaymentpaiddate" placeholder="" type="date" value="" class="form-control input-sm" style="min-width: 100%" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <br />
                            <button type="button" id="btnCivilPaymentAction" onclick="CivilCasePaymentAction()" class="btn btn-primary btn-block btn-sm">Save changes</button>
                        </div>
                        <div class="col-md-3">
                            <br />
                            <button type="button" id="btnCivilPaymentActionBillgroup" onclick="openInvoiceBillgrouop()" class="btn btn-success btn-block btn-sm">Bill Group</button>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <table id="paymentTable" class="table-hover table-bordered table-condensed table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th>@sambocappweb.Resources.Language.Id</th>
                                    <th>@sambocappweb.Resources.Language.Date</th>
                                    <th>@sambocappweb.Resources.Language.PaidAmount</th>
                                    <th>@sambocappweb.Resources.Language.Description</th>
                                    <th>@sambocappweb.Resources.Language.Status</th>
                                    <th>@sambocappweb.Resources.Language.Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

