﻿
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="lawyerModal" tabindex="-1" role="dialog" aria-labelledby="lawyerModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div id="divLoadingModal"></div>
        <div class="modal-content">
            <div class="modal-header clearfix">
                <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal">&times; @sambocappweb.Resources.Language.Close</button>
                <b class="modal-title" style="color: darkblue;">@sambocappweb.Resources.Language.Lawyer</b>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <img class="center img-responsive img-thumbnail" id="lawyerPhoto" src="~/Images/no_image.png" />
                        </div>
                        <div class="form-group">
                            <label>Upload Photo</label>
                            <input onchange="readURLL(this);" type="file" id="lawyerfile" style="width:100%;" />
                            <input type="hidden" value="" id="lawyerfile_old" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <input id="lawyerId" name="lawyerId" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />
                        <div class="form-group">
                            <label for="lawyerName">@sambocappweb.Resources.Language.Lawyer</label>
                            <input id="lawyerName" name="lawyerName" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                        </div>

                        <div class="form-group">
                            <label for="lawyerSex">@sambocappweb.Resources.Language.Gender</label>
                            <select class="form-control input-sm" id="lawyerSex">
                                <option>Male</option>
                                <option>Female</option>
                                <option>None</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="lawyerAge">@sambocappweb.Resources.Language.Age</label>
                            <input id="lawyerAge" name="lawyerAge" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                        </div>
                        
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="lawyerAddress">@sambocappweb.Resources.Language.Address</label>
                            <input id="lawyerAddress" name="lawyerAddress" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                        </div>
                        <div class="form-group">
                            <label for="lawyerIdentityno">@sambocappweb.Resources.Language.Identity</label>
                            <input id="lawyerIdentityno" name="lawyerIdentityno" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                        </div>
                        <div class="form-group">
                            <label for="lawyerPhone">@sambocappweb.Resources.Language.ContactPhone</label>
                            <input id="lawyerPhone" name="lawyerPhone" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <button type="button" id="btnLawyerAction" onclick="LawyerAction()" class="btn btn-primary btn-block btn-sm">Save changes</button>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <table id="LawyerTable" class="table table-hover table-bordered table-condensed table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>@sambocappweb.Resources.Language.Id</th>
                                    <th>@sambocappweb.Resources.Language.Lawyer</th>
                                    <th>@sambocappweb.Resources.Language.Gender</th>
                                    <th>@sambocappweb.Resources.Language.Address</th>
                                    <th>@sambocappweb.Resources.Language.Identity</th>
                                    <th>@sambocappweb.Resources.Language.ContactPhone</th>
                                    <th>@sambocappweb.Resources.Language.Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


