﻿@using sambocappweb.Resources
@{
    Layout = null;
}

<form id="Exchange" action="/api/Exchanges" method="post" enctype="multipart/form-data">

    <div class="modal fade" data-backdrop="static" data-keyboard="false" id="ExchangeModel" tabindex="-1" role="dialog" aria-labelledby="ExchangeModal" aria-hidden="true">
        <div class="modal-dialog modal-md" role="document">
            <div id="divLoadingModal"></div>
            <div class="modal-content">
                <div class="modal-header clearfix">
                    <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal">&times; @Language.Close</button>
                    <b class="modal-title" style="color: darkblue;"></b>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group" style="display:none">
                                        <label for="exchangeid">@Language.Id</label>
                                        <input id="exchangeid" name="exchangeid" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                                    </div>

                                    <div class="form-group">
                                        <label for="exchangedate">@Language.Date </label>
                                        <input id="exchangedate" name="exchangedate" placeholder="Please Input Date" type="date" value="@DateTime.Now.ToString("yyyy'-'MM'-'dd")" class="form-control" style="min-width: 100%" />
                                    </div>
                                   
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label for="exchangecurrencyid">CurrencyId</label>
                                                    @Html.DropDownList("exchangecurrencyid",(IEnumerable<SelectListItem>)ViewBag.Currencylist, "-- " + Language.select + " " + Language.CurrencyName + "---", new { @class = "form-control" })

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="exchangeshopid">Shop Id</label>
                                            @Html.DropDownList("exchangeshopid", (IEnumerable<SelectListItem>)ViewBag.Shoplist, "---Select Shop Id---", new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="exchangerate">@Language.Rate</label>
                                            <input id="exchangerate" name="exchangerate" placeholder="Please Input Rate" type="text" value="" class="form-control" style="min-width: 100%" />

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-12">
                                <input type="hidden" id="txtbtnExchange" name="txtbtnExchange" value="Save" />
                                <button type="button" id="btnExchange" onclick="ExchangeAction();" class="btn btn-primary btn-block btn-sm">@Language.Save</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>





