﻿

@using sambocappweb.Resources
@{ ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
<script src="~/Content/Layout/css/js/cleave.js"></script>
<script src="~/Content/Layout/css/js/cleave-phone.i18n.js"></script>
<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <button class="btn btn-success btn-xs pull-right" onclick="ShopInfo(); exchangname();" id="btnModalAddUpdateOrder" type="button" data-toggle="modal" data-target="#OrderModal" style='margin-right:0px'>
                <span class="glyphicon glyphicon-cog"></span>
                @Language.CreateNewOrder
            </button>

            <div class="panel-heading">
                <h5 class="panel-title">@Language.OrderManagement</h5>
            </div>
        </div>
        <div class="panel-body" style="overflow-x:auto;">
            <table class="table table-hover table-bordered" id="orderTable" style="width:100%">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>@Language.InvoiceNo</th>
                        <th>@Language.ShopName</th>
                        <th>@Language.CustomerName</th>
                        <th>@Language.Phone</th>
                        <th>@Language.AmountTobePaid</th>
                        <th>@Language.CurrencyName</th>
                        <th>@Language.Date</th>
                        <th>@Language.Status</th>
                        <th>@Language.Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
@Html.Partial("_Order")
@Html.Partial("_OrderdetailFrm")
@Html.Partial("_Orderdetail")

@section scripts
{
    @Scripts.Render("~/Scripts/Functions/order.js")
    @Scripts.Render("~/Scripts/Functions/Orderdetail.js")
}
<script>

    var cleave = new Cleave('#phone', {
        phone: true,
        phoneRegionCode: 'KH'
    });

</script>