﻿@using sambocappweb.Resources
<div class="modal fade" data-backdrop="static" data-keyboard="fale" id="currencyModel" tabindex="-1" role="dialog" aria-labelledby="currencyModel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="loadingGif"></div>
            <div class="modal-header">
                <button type="button" class="btn-danger btn-xs pull-right" data-dismiss="modal" aria-hidden="true">@Language.Close</button>
                <b class="modal-title" style="color:darkblue">@Language.Currency</b>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="form-group" style="display:none">
                                <label for="currencyid">@Language.Id</label>
                                <input id="currencyid" name="id" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                            </div>
                            <label for="currencyname">@Language.CurrencyName</label>
                            <input id="currencyname" name="currencyname" type="text" value="" class="form-control input-sm" placeholder="Enter Currencyname" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="currencysign">@Language.Sign</label>
                            <input id="currencysign" name="name" placeholder="Please Input Status" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="status">@Language.Status</label>
                            <select class="form-control input-sm" id="currencystatus">
                                <option value="Active">Active</option>
                                <option value="Inactive">Inactive</option>
                            </select>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="hidden" name="txtbtnCurrency" id="txtbtnCurrency" value="Save" />
                        <button type="button" id="btnCurrency" onclick="CurrencyAction();" class="btn btn-primary btn-block btn-sm">@Language.Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    @Scripts.Render("~/Scripts/Functions/Currency.js")
}





