﻿@model sambocappweb.Models.Product
@using sambocappweb.Resources

<form id="product" method="post" enctype="multipart/form-data">
    <div class="modal fade" data-backdrop="static" data-keyboard="fale" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModal" aria-hidden="true">
        <div class="modal-dialog center" role="document">
            <div class="modal-content modal-md">
                <div id="loadingGif"></div>
                <div class="modal-header">
                    <button type="button" class="btn btn-danger btn-xs pull-right" id="btnCloseProduct">@Language.Close</button>
                    @*<button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal" aria-label="Close">@Language.Close</button>*@
                    <b class="modal-title" style="color:darkblue">@Language.Product</b>
                </div>
                <div class="modal-body">
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group" style="display:none">
                                <fieldset disabled="">
                                    <label class="control-label" for="disabledInput">Id</label>
                                    <input class="form-control input-sm" id="productid" type="text" placeholder="" disabled="">
                                </fieldset>
                            </div>
                            <div class="form-group" style="display:none">
                                <fieldset disabled="">
                                    <label id="ShopId">ShopId</label>
                                    <input id="ShopId" name="ShopId" type="text" value="" class="form-control input-sm" placeholder="Enter Product Code" />
                                </fieldset>

                            </div>
                            @*<h2 id="Countnumber">@ViewBag.Count </h2>*@
                        <div class="form-group">
                            <label id="productcode1">@Language.ProductCode</label>
                            <input id="productcode" name="productcode" type="text"  class="form-control input-sm" placeholder="Product Code" />
                        </div>
                            <div class="form-group">
                                <label id="productname1">@Language.ProductName</label>
                                <input id="productname" name="productname" type="text" value="" class="form-control input-sm" placeholder="Enter Product Name" />
                            </div>
                            <div class="form-group">
                                <label id="description1">@Language.Description</label>
                                <input id="description" name="description" type="text" value="" class="form-control input-sm" placeholder="Enter Description" />
                            </div>
                            <div class="form-group">
                                <label id="qtyinstock1">@Language.QtyInStock</label>
                                <input id="qtyinstock" name="qtyinstock" type="number" value="" class="form-control input-sm" placeholder="Enter Quantity In Stock" />
                            </div>
                            <div class="form-group">
                                <label id="price1">@Language.price</label>
                                <input id="price" name="price" type="text" value="" class="form-control input-sm" placeholder="Enter Unit Price" />
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label id="currencyid1">@Language.Currency</label>
                                        @*<input id="currencyid" name="currencyid" type="number" value="" class="form-control input-sm" placeholder="Choose Currency ID" />*@
                                        @Html.DropDownList("currencyid", ViewBag.CurrencyList as SelectList, "Select a currency..", new { @class = "form-control input-sm" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label id="cutstocktype1">@Language.CutStockType</label>
                                <select class="form-control input-sm" id="cutstocktype" placeholder="Please Select type">
                                    <option>Select type...</option>
                                    <option>Immediately Cutstock</option>
                                    <option>Cutstock After Approve</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label id="status1">@Language.Status</label>
                                <select class="form-control input-sm" id="status">
                                    <option>Active</option>
                                    <option>Inactive</option>
                                </select>
                                @*<input id="status" name="status" type="text" value="" class="form-control input-sm" placeholder="Enter Status" />*@
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label id="imagethumnail1">@Language.ImageThumbnail</label><span id="fileSize"></span>
                                <img class="center img-responsive img-thumbnail" id="productImg" src="~/Content/product.jpg" alt="Alternate Text" style="width:222px; height:222px;" />
                                <input class="btn btn-default btn-sm" onchange="readURL(this);" type="file" name="file" id="file" style="width: 100%;" />
                                <input type="hidden" value="" id="file_old" />
                            </div>
                            <div class="form-group">
                                <input type="text" hidden value="" />
                                <input id="productid" name="productid" type="text" value="" class="form-control input-sm hidden" />
                                <label id="shopid1">@Language.ShopId</label>
                                @Html.DropDownList("shopid", ViewBag.ShopList as SelectList, new { @class = "form-control input-sm" })
                            </div>
                            <div class="form-group">
                                <label id="expireddate1">@Language.ExpiredDate</label>
                                <input id="expireddate" name="expireddate" type="date" value="@DateTime.Now.ToString("yyyy'-'MM'-'dd")" class="form-control input-sm" placeholder="Choose Date" />
                            </div>


                            <div class="form-group">
                                <label for="videoDemo">Video Demo</label>
                                <video id="videoDemo" style="width:100%" align="center" controls>
                                </video>
                                <input onchange="ChangeVideo()" class="form-control input-sm" type="file" name="video" id="linkvideo">

                                <input type="hidden" value="" id="video_old" />
                            </div>
                        </div>
                        @*<div class="col-md-6">
                            <div class="form-group">
                                <label for="imagethumnail">@Language.ImageThumbnail</label><span id="fileSize"></span>
                                <img class="center img-responsive img-thumbnail" id="productImg" src="~/Content/product.jpg" alt="Alternate Text" style="width:222px; height:222px;" />
                                <input class="btn btn-default btn-sm" onchange="readURL(this);" type="file" name="file" id="file" style="width: 100%;" />
                            </div>
                        </div>*@
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" id="btnProductSave" onclick="SaveProductAction();" class="btn btn-primary btn-block btn-sm"><span class="glyphicon glyphicon-floppy-save"></span> <span class="kh">&nbsp;&nbsp;&nbsp;</span>Save</button>
                            <button type="button" id="btnProductUpdadate" onclick="UpdateProductAction();" class="btn btn-primary btn-sm btn-block"><span class='glyphicon glyphicon-saved'></span> <span class='kh'>កែប្រែ</span> / Update</button>
                         </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</form>
