/*----------------------------------------------
Author : www.webthemez.com
License: Commons Attribution 3.0
http://creativecommons.org/licenses/by/3.0/
------------------------------------------------*/


/*----------------------------------------------
    COMMON  STYLES    
------------------------------------------------*/
body {
    background: #ededed;
    font-size: 14px;
}

#wrapper {
    width: 100%;
}

#page-wrapper {
    min-height: 0px;
    background: #ececec;
}

#page-inner {
    width: 100%;
    margin: 10px 0px 0px 0px;
    min-height: 20px;
}


.navbar-side {
    z-index: 0;
}


.top-navbar {
    position: fixed;
    width: 100%;
    z-index: 300;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
}

.navbar-side {
    z-index: 2;
    position: fixed;
    box-shadow: none;
    height: 1200px;
}

#page-wrapper {
    position: relative;
    top: 0px;
    /* box-shadow: 0 0 10px #757575; */
    -moz-box-shadow: 0 0 10px #757575;
    /* -webkit-box-shadow: 0 0 10px #757575; */
}


/*----------------------------------------------
   DASHBOARD STYLES    
------------------------------------------------*/
.page-header {
    padding-bottom: 0;
    margin: 0;
    border-bottom: 1px solid transparent;
    text-align: left;
    background-color: transparent;
    padding: 32px 22px 10px 28px;
    color: #323232;
}


footer p {
    font-size: 14px;
}
/*----------------------------------------------
    MENU STYLES    
------------------------------------------------*/
div#sideNav:hover {
    color: #ffffff;
}


    

.navbar-brand b {
    color: #4BD28C;
}

.sidebar-collapse, .sidebar-collapse .nav {
    background: none;
}
.sidebar-collapse .nav {
        padding: 0;
    }

        .sidebar-collapse .nav > li > a {
            color: #ffffff;
            background: transparent;
            text-shadow: none;
        }
    .sidebar-collapse .nav > li > a span{
        color: #ffffff;
        background: transparent;
        text-shadow: none;
    }
    .sidebar-collapse > .nav > li > a {
        padding: 12px;
        font-size: 16px;
    }

    .sidebar-collapse > .nav > li {
        border-bottom: 1px solid rgba(107, 108, 109, 0.08);
    }

    .sidebar-collapse .nav > li > a:hover,
    .sidebar-collapse .nav > li > a:focus {
        outline: 0;
        color: #f44336;
        width: 100%;
        height: 40px;
        background-color: rgb(163 163 163 / 0.15);
    }
    

.navbar-side {
    border: none;
    background: #006400;
}


.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #006400;
}
.navbar-default .navbar-toggle .sidebar-collapse .nav li .dropdown a > .glyphicon-folder-open:hover {
    color:aqua;
}
ul li:hover > ul,
ul li a span:hover {
   color:orangered;
}


.navbar-default .navbar-toggle {
    border-color: #ffffff;
}

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #ffffff;
    }

.nav > li > a > i {
    margin-right: 10px;
    color: #ffffff;
    font-size: 16px;
}

#sideNav {
    float: left;
    left: 0;
    color: #ffffff;
    cursor: pointer;
    border-radius: 0;
    width: 14px;
    font-size: 25px;
    line-height: 33px;
    width: 34px;
    height: 34px;
    text-align: center;
    line-height: 34px;
    padding-top: 5px;
    border-radius: 50%;
    margin-top: 10px;
}

.closed {
    padding: 0px;
    transform: rotate(180deg);
    margin-top: 0px;
}
.closed i {
        color: #9a9a9a;
    }
    
.top-navbar .navbar-brand {
    color: #fff;
    width: 185px;
    text-align: left;
    height: 60px;
    font-size: 20px;
    font-weight: 700; /* text-transform: uppercase; */

    background: #006400;
}


/*----------------------------------------------
    MEDIA QUERIES     
------------------------------------------------*/

@media(min-width:768px) {
    #page-wrapper {
        margin: 0 0 0 220px;
        padding: 0;
        
    }


    .navbar-side {
        width: 220px;
        z-index: 1;
    }

    .navbar {
        height: 10px;
        border-radius: 0px;
    }
}

@media(max-width:768px) {
    #sideNav {
        display: none;
    }

    #page-wrapper {
        position: relative;
    }
}

@media(max-width:480px) {
    #page-wrapper {
        position: relative;
    }

    .page-header small {
        display: block;
        padding-top: 14px;
        font-size: 19px;
    }

    #sideNav {
        display: none;
    }

    .panel-left {
        width: 85px;
        height: 85px;
        border-radius: 100%;
        overflow: hidden;
        margin: 14px;
    }
}


@media(max-width:768px) {

    .navbar-header {
        background: #006400;
    }

    .panel {
        border-radius: 1px;
        margin-left: 20px;
    }

    .navbar-side {
    }
}

@media(max-width:520px) {
    .panel {
        border-radius: 1px;
        margin-left: 0px;
    }
}

@media(max-width:320px) {
    ul#dropdown1 {
        left: 0px !important;
    }

    ul#dropdown2 {
        left: -69px !important;
    }

    .top-navbar .nav > li > a {
        padding: 17px 9px;
    }
}
#page-wrapper {
    /*background: #e0e8f5;*/
}

