﻿
.row {
    margin: 0 15px 50px 15px;
}
.row .center{
    
    margin: auto;
}
.col {
    float: left;
    padding: 10px 15px 15px 15px;
    /*margin: 10px;*/
}
.col a {
    width: 210px;
}
.center h1 {
    padding: 15px 0 0 20px;
}
.center {
    width: 220px;
    height: 150px;
    background-color: #028800;
    color: white;
    font-size: 90px;
    border-radius: 20px;
    
}

.bottom1 {
    width: 100%;
    height: 35px;
    background-color: #006400;
    border-radius: 0 0 20px 20px;
    padding-top:0.5px;
    text-align:center;
    font-weight:bold;
    
}
.badge {
    display: inline-block;
    min-width: 10px;
    padding: 0px -15px 0 7px;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #ff0000;
    border-radius: 40%;
}
@media(max-width:567px) {
    
    .center {
        width: 320px;
        height: 150px;
        background-color: #028800;
        color: white;
        font-size: 90px;
        border-radius: 20px;
        margin-left:-10px;
    }

    #footer {
        display: none;
    }
}
