﻿/*#loginFormEdit{
    width:250px;
    height:250px;
    background-color:#00016f;
}*/
#bodylog {
    background-color: #001d8f;
    color: white;
    margin: 0 20px 50px 40px;
    border-radius:50px;
}
.header{
    font-size:18px;
    font-family:'Khmer OS Muol';
    padding:30px 0 20px 0;
}
@media(max-width:567px) {
    #bodylog {
        background-color: #001d8f;
        color: white;
        margin: auto 0px 50px 20px;
        border-radius: 50px;
    }

    #footer {
        display: none;
    }
}
.version{
    text-align:center;
    
}