﻿
body {
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.container_content {
    /*width: 21cm;*/
    min-height: 29.7cm;
    /*padding: cm;*//**/
    margin: -0.5cm 0 0.5px 0;
    
    border-radius: 5px;
    background: white;
    /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);*/
}
/*
.receipt-main {
    padding: 1cm;
    border: 5px red solid;
    height: 256mm;
    outline: 2cm #FFEAEA solid;
}
*/
@page {
    size: A4;
    margin: 0;
}

@media print {
    .container_content {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}

.center_ b{
    text-align:center;
}
.date-top{
    margin-top:30px;
}
.receipt-right{
    text-align:justify;
}

body {
    padding-bottom: 150px;
    -webkit-print-color-adjust: exact !important;
}

#printInvoice {
    width: 800px;
    border: 0px solid black;
    background: white;
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px;
    position: relative;
    /* display: none; */
}

.c-name h3, h4, .info {
    font-weight: bold;
}

.pre-table tr, td, th {
    text-align: center;
}

#pre-table tr {
    border-bottom: 1px solid rgba(0,0,0,0.5);
}

.pre-table {
    border: 1px solid rgba(0,0,0,0.8);
}

@media print {
    body {
        -webkit-print-color-adjust: exact;
    }

    .bg-danger {
        background-color: #f2dede !important;
    }

    .table td {
        background-color: transparent !important;
    }

    body {
        visibility: hidden;
        padding: 10px;
        height: auto;
    }

    #printInvoice {
        display: block;
        position: absolute;
        top: -60px;
        left: 0;
        width: 100%;
        visibility: visible;
        background: rgba(0,0,0,0.5);
        height: 100%;
    }

    #pre-table tbody td {
        border-left: 1px solid rgba(0,0,0,0.6);
    }

    #pre-table thead tr {
        background: #18BC9C !important;
        color: white !important;
        -webkit-print-color-adjust: exact !important;
    }

    #pre-table thead tr {
        background: #18BC9C !important;
        color: white;
    }

    #pre-table tr {
        border-bottom: 1px solid rgba(0,0,0,0.6);
    }

    .cashier, .customer {
        position: fixed;
        bottom: 100px;
    }

    .cashier {
        right: 80px;
    }

    .customer {
        left: 80px;
    }
}

#printInvoice img {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 10px;
}

.patientInfo div span {
    font-size: 1.2em;
}

.patientInfo div {
    margin: 5px 0px;
}

#reciept-info {
    display: block;
    margin: 0 auto;
}

#th-row th {
    border: 1px solid black;
}
