﻿
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="blogCategoryModal" tabindex="-1" role="dialog" aria-labelledby="blogCategoryModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div id="divLoadingModal"></div>
        <div class="modal-content">

            <div class="modal-header clearfix">
                <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal">&times; <span class="kh">បិទ</span> / Close</button>
                <b class="modal-title" style="color: darkblue;">@sambocappweb.Resources.Language.PostCategory</b>
            </div>

            <div class="modal-body">
                <div class="row">
                    <input id="BlogCategoryId" name="BlogCategoryId" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="blogCategoryName">@sambocappweb.Resources.Language.PostCategory</label>
                            <input id="blogCategoryName" name="blogCategoryName" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" id="btnBlogCategoryAction" onclick="BlogCategoryAction()" class="btn btn-primary btn-block btn-sm"><span class="glyphicon glyphicon-floppy-save"></span> <span class="kh">រក្សាទុក</span> / Save</button>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <table id="blogCategoryTable" class="table table-hover table-bordered table-condensed table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>@sambocappweb.Resources.Language.PostCategory</th>
                                    <th>@sambocappweb.Resources.Language.Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

