﻿
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="feedbackModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div id="divLoadingModal"></div>
        <div class="modal-content">

            <div class="modal-header clearfix">
                <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal">&times; <span class="kh">បិទ</span> / Close</button>
                <b class="modal-title" style="color: darkblue;">@sambocappweb.Resources.Language.Feedback</b>
            </div>

            <div class="modal-body">
                <div class="row">
                    <input id="feedbackId" name="feedbackId" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="feedbackName">@sambocappweb.Resources.Language.Name</label>
                            <input id="feedbackName" name="feedbackName" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="feedbackEmail">@sambocappweb.Resources.Language.Email</label>
                            <input id="feedbackEmail" name="feedbackEmail" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="feedbackSubject">@sambocappweb.Resources.Language.Subject</label>
                            <input id="feedbackSubject" name="feedbackSubject" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="feedbackMessage">@sambocappweb.Resources.Language.Message</label>
                            <input id="feedbackMessage" name="feedbackMessage" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <button type="button" id="btnFeedbackAction" onclick="FeedbackAction()" class="btn btn-primary btn-block btn-sm"><span class="glyphicon glyphicon-floppy-save"></span> <span class="kh">រក្សាទុក</span> / Save</button>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <table id="feedbackTable" class="table table-hover table-bordered table-condensed table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>@sambocappweb.Resources.Language.Name</th>
                                    <th>@sambocappweb.Resources.Language.Email</th>
                                    <th>@sambocappweb.Resources.Language.Subject</th>
                                    <th>@sambocappweb.Resources.Language.Message</th>
                                    <th>@sambocappweb.Resources.Language.Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

