﻿
<div style="overflow: auto !important;" class="modal fade" data-backdrop="static" data-keyboard="false" id="blogMedia" tabindex="-1" role="dialog" aria-labelledby="blogMedia" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" style="width: 100%; height: 100%; margin: 0; padding: 0;">
        <div id="divLoadingModal"></div>
        <div class="modal-content">
            <div class="modal-body" style="padding: 0;">

                <div class="panel panel-primary" style="margin-bottom: 0;">
                    <div class="panel-heading">
                        <h5 class="panel-title"><span class="glyphicon glyphicon-import"></span> Media Library</h5>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div id="imgList" class="col-md-12">
                                @*@foreach (var image in Model.Images)
                                {
                                    <img id="imgUrl" onclick="onGetUrl('@Url.Content(image)');" src="@Url.Content(image)" alt="" />
                                }*@
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div id="imgInsert" class="col-md-12">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-2">
                                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> @sambocappweb.Resources.Language.Close</button>
                                <button onclick="InsertImage();" id="btnEdit" class="btn btn-primary btn-sm" style="margin-right: 5px;">
                                    <span class="glyphicon glyphicon-import"></span> Insert
                                </button>
                            </div>
                            <div class="col-md-10">
                                <input type="file" name="Img" id="file_upload" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

