﻿@model sambocappweb.ViewModels.BlogPostViewModel
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutBlog.cshtml";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading" id="blogPanelHeading">
                        <h3 class="panel-title" id="blogPanelTitle">@(Request.Cookies["Language"].Value == "ca" ? "ទីតាំង អឹម.អាយ.អែស" : "MISTEAMS Location")</h3>
                    </div>
                    <div class="panel-body">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3908.955022018136!2d104.93123851480783!3d11.555082191796021!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6676a35372bf895f!2sMISTEAMS!5e0!3m2!1sen!2skh!4v1640853653598!5m2!1sen!2skh" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" id="blogPanelHeading">
                <h3 class="panel-title" id="blogPanelTitle">@(Request.Cookies["Language"].Value == "ca" ? "ទំនាក់ទំនង" : "Get in Touch")</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <p><span class="glyphicon glyphicon-earphone"></span> 089 647 601</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;016 647601</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;010 647601</p>
                        <hr />
                        <p><span class="glyphicon glyphicon-envelope"></span> info@misteams.com</p>
                        <hr />
                        <p><span class="glyphicon glyphicon-map-marker"></span> Sothearos, Tonle Bassac, Chamkamon, Phnom Penh Phnom Penh, 12301</p>
                        <hr />
                        <p><a target="_blank" href="https://www.facebook.com/MISTEAMS/" style="text-decoration: none; color: #fff;"><span id="fb">f</span> Our Facebook Page</a></p>
                    </div>
                    <div class="col-md-6">
                        <label>Give Feedback</label>
                        <div class="row">
                            <div class="col-md-12">
                                <input id="feedbackId" name="feedbackId" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />
                                <div class="form-group">
                                    <input id="feedbackName" name="feedbackName" placeholder="@sambocappweb.Resources.Language.Name" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input id="feedbackEmail" name="feedbackEmail" placeholder="@sambocappweb.Resources.Language.Email" type="email" value="" class="form-control input-sm" style="min-width: 100%" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input id="feedbackSubject" name="feedbackSubject" placeholder="@sambocappweb.Resources.Language.Subject" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea id="feedbackMessage" placeholder="@sambocappweb.Resources.Language.Message" rows="3" class="form-control input-sm"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <button type="button" onclick="submitFeedback()" class="btn btn-primary btn-sm btn-block"><span class='glyphicon glyphicon-send'></span> SEND</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        @Html.Partial("_WidgetBlog")
    </div>
</div>

@section scripts 
{
    @Scripts.Render("~/Scripts/Blog/contact.js")
}
