﻿@model sambocappweb.ViewModels.BlogPostViewModel
@section FacebookOptimize {
    @if (Request.Cookies["Language"].Value == "en")
    {
        <meta property="og:title" content="@Model.BlogPost.Title">
        <meta property="og:description" content="" />
    }
    else
    {
        <meta property="og:title" content="@Model.BlogPost.TitleKh">
        <meta property="og:description" content="" />
    }
    <meta property="og:url" content="@Request.Url.AbsoluteUri" />
    <meta property="og:site_name" content="General Secretariat of the National Social Protection Council" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="http://@Request.Url.Authority/uploads/@Model.BlogPost.Thumbnail" />
    <meta property="og:image:secure_url" content="http://@Request.Url.Authority/uploads/@Model.BlogPost.Thumbnail" />
    <meta property="og:image:width" content="700" />
    <meta property="og:image:height" content="420" />
}
@{
    if (Request.Cookies["Language"].Value == "en")
    {
        ViewBag.Title = @Model.BlogPost.Title;
    }
    else
    {
        ViewBag.Title = @Model.BlogPost.TitleKh;
    }
    Layout = "~/Views/Shared/_LayoutBlog.cshtml";
}

<div class="row">
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                      
                        @if (Request.Cookies["Language"].Value == "en")
                        {
                            <h4 id="blogTitle">
                                <b>@Model.BlogPost.Title</b>
                            </h4>
                            <hr />
                            <p style="color: #999;">
                                @*<span class="glyphicon glyphicon-calendar"></span> Posted on: @Model.BlogPost.PostDate.ToString("dd-MM-yyyy") | <span class="glyphicon glyphicon-eye-open"></span> View: @Model.BlogPost.ViewCounter | <a target="_blank" id="fbsharebutton" href="https://www.facebook.com/sharer.php?u=@Request.Url.AbsoluteUri" class="pull-right" style="position: relative; margin-top: -4px;"><span class="glyphicon glyphicon-share-alt"></span> Share</a>*@
                                <span class="glyphicon glyphicon-calendar"></span> Posted on: @Model.BlogPost.PostDate.ToString("dd-MM-yyyy") | <span class="glyphicon glyphicon-eye-open"></span> View: @Model.BlogPost.ViewCounter | <div class="fb-share-button pull-right" data-href="@Request.Url.AbsoluteUri" data-layout="button_count"></div><a id="twitter-share-button" class="pull-right" href="http://www.linkedin.com/shareArticle?mini=true&url=@Request.Url.AbsoluteUri"><i class="fa fa-twitter"></i> Share</a>
                            </p>
                            <hr />
                            <div id="blogContent">
                                @Html.Raw(Model.BlogPost.Content)
                            </div>
                        }
                        else
                        {
                            <h4 id="blogTitle">
                                <b>@Model.BlogPost.TitleKh</b>
                            </h4>
                            <hr />
                            <p style="color: #999;">
                                <span class="glyphicon glyphicon-calendar"></span> ផុសថ្ងៃ: @Model.BlogPost.PostDate.ToString("dd-MM-yyyy") | <span class="glyphicon glyphicon-eye-open"></span> អ្នកអាន: @Model.BlogPost.ViewCounter | <div class="fb-share-button pull-right" data-href="@Request.Url.AbsoluteUri" data-layout="button_count"></div><a id="twitter-share-button" class="pull-right" href="http://www.linkedin.com/shareArticle?mini=true&url=@Request.Url.AbsoluteUri"><i class="fa fa-twitter"></i> Share</a>
                            </p>
                            <hr />
                            <div id="blogContent">
                                @Html.Raw(Model.BlogPost.ContentKh)
                            </div>
                        }   
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        @Html.Partial("_WidgetBlog")
    </div>
</div>
<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>