﻿@model sambocappweb.ViewModels.BlogPostViewModel
@{
    ViewBag.Title = "WebsiteDevelopment";
    Layout = "~/Views/Shared/_LayoutBlog.cshtml";
}

<div class="row">
    <div class="col-md-8">
        @if (Request.Cookies["Language"].Value == "en")
        {
            <div id="blogContent">
                @Html.Raw(Model.BlogPost.Content)
            </div>
        }
        else
        {
            <div id="blogContent">
                @Html.Raw(Model.BlogPost.ContentKh)
            </div>
        }
    </div>
    <div class="col-md-4">
        @Html.Partial("_WidgetBlog")
    </div>
</div>