﻿
@{ ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
<link href="~/Content/Layout/css/table.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <button onclick="AddNewFeeTypeAction();" type="button" style="margin:5px" class="btn btn-info btn-xs pull-right" id="btCreateSetupFee" data-toggle="modal" data-target="#SetupFeeModal"><span class='glyphicon glyphicon-plus-sign'></span> Add New Fee</button>
            <h5 class="modal-title">SetUp Fee</h5>
        </div>
        <div class="panel-body" style="overflow-x:auto;">

            <table class="table-hover table-bordered table-condensed table-striped" style="width:100%" id="setupFeeTbl">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Date</th>
                        <th>Fee Type</th>
                        <th>Amount</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
@Html.Partial("_SetupFee")

@section scripts{
    @Scripts.Render("~/Scripts/Functions/setupFee.js")
    @Scripts.Render("~/Scripts/moment.min.js")
}
