﻿
@{
    ViewBag.Title = "Access Denied";
    Layout = "~/Views/Shared/_LayoutBlog.cshtml";
}

<h2>Access Denied</h2>



<div class="container">
    <div class="col-md-6 col-md-offset-3">
        <div id="registerPanel" class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Access not permission</h3>
            </div>
            <div class="panel-body">
                
                    <div class="form-group">
                        <div class="col-md-12">
                           <label class = "form-control btn-warning">Can not access this page, please contact admin user or Super admin</label>
                        </div>
                    </div>
                   
                    <div class="form-group">
                        <div class="col-md-12">
                            <a href="@Url.Action("Index","Home")" class="btn btn-primary btn-block">Goto Home</a>
                            
                        </div>
                    </div>
                
            </div>
        </div>
    </div>
</div>



