﻿@model sambocappweb.Models.ForgotPasswordViewModel
@using sambocappweb.Resources
@{
    ViewBag.Title = "Forgot your password?";
}

<div class="container">
    <div class="col-md-6 col-md-offset-3">
        <div id="registerPanel" class="panel panel-primary">
            <button type="button" class="btn btn-danger btn-xs pull-right" id="btn_Close" onclick="CloseFrm();" data-dismiss="modal" style="margin: 5px">&times; @Language.Close</button>
            <div class="panel-heading">
                <h3 class="panel-title">Reset your password</h3>

            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <div class="col-md-12">
                                    @Html.LabelFor(m => m.Email)
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="submit" class="btn btn-primary btn-block" value="Send Email" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    function CloseFrm() {
        window.location.href = "@Url.Action("Login", "Account")"
    }
</script>