﻿

<div class="modal fade" id="landTypeModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal" aria-hidden="true">Close</button>
                <b class="modal-title" style="color:darkblue">គ្រប់គ្រងដី</b>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <input type="text" id="ID" name="name" hidden value="" />
                                <div class="form-group">
                                    <label for="landType">ប្រភេទដី</label>
                                    <input type="text" name="landType" id="landType" value="" class="form-control input-sm" placeholder="Enter Land Type" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="landnote">រៀបរាប់</label>
                                    <textarea type="text" name="landnote" id="landnote" rows="4" style="min-width:100%; max-width:100%" value="" class="form-control input-sm" placeholder="Enter Note"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" id="btnLandType" class="btn btn-primary btn-sm btn-block" onclick="LandTypeAction();">Add New</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row" style="margin-top:10px">
                    <div class="col-md-12">
                        <table class="table-hover table-bordered table-condensed table-striped" style="width:100%" id="landTypetbl">
                            <thead>
                                <tr>
                                    <th>លរ</th>
                                    <th>ប្រភេទដី</th>
                                    <th>សកម្មភាព</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



