﻿

<div class="modal fade" id="letterTypeModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal" aria-hidden="true">Close</button>
                <b class="modal-title" style="color:darkblue">គ្រប់គ្រងប្រភេទប័ណ្ណ</b>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <input type="text" id="ID" name="name" hidden value="" />
                                <div class="form-group">
                                    <label for="letterType">ប្រភេទប័ណ្ណ</label>
                                    <input type="text" name="letterType" id="letterType" value="" class="form-control input-sm" placeholder="Enter Letter Type" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="letternote">រៀបរាប់</label>
                                    <textarea type="text" name="letternote" id="letternote" rows="4" style="min-width:100%; max-width:100%" value="" class="form-control input-sm" placeholder="Enter Note"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" id="btnLetterType" class="btn btn-primary btn-sm btn-block" onclick="LetterTypeAction();">Add New</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row" style="margin-top:10px">
                    <div class="col-md-12">
                        <table class="table-hover table-bordered table-condensed table-striped" style="width:100%" id="letterTypetbl">
                            <thead>
                                <tr>
                                    <th>ល.រ</th>
                                    <th>ប្រភេទប័ណ្ណ</th>
                                    <th>សកម្មភាព</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


