﻿
<form id="contractForm" method="post" enctype="multipart/form-data">
    <div class="modal fade" data-backdrop="static" style="z-index:1041 !important; " data-keyboard="false" id="ownerShipModal" tabindex="-1" role="dialog" aria-labelledby="ownerShipModal" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div id="divLoadingModal"></div>
            <div class="modal-content">
                <div class="modal-header clearfix">
                    <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal">&times; @sambocappweb.Resources.Language.Close</button>
                    <b class="modal-title" style="color: darkblue;">ការផ្ទេរកម្មសិទ្ធ</b>
                </div>

                <div class="modal-body">
                    <div class="well">
                        <div class="row">
                            <input type="text" id="ownerID" class="form-control input-sm hidden" name="ownerID" value="" />

                        </div>
                        <b class="modal-title" style="color: darkblue;">អ្នកផ្ទេរសិទ្ធ​ ៖</b>
                        <hr />
                        <div class="row">
                            
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="ownermalename">ឈ្មោះអ្នកផ្ទេរសិទ្ធ​ប្រុស</label>
                                    <input id="ownermalename" name="ownermalename" type="text" value="" class="form-control input-sm" placeholder="Enter Name..." />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="ownermalephone">លេខទំនាក់ទំនង</label>
                                    <input id="ownermalephone" name="ownermalephone" type="text" value="" class="form-control input-sm" placeholder="Enter Phone..." />
                                </div>
                            </div>
                            
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="ownerfemalename">ឈ្មោះអ្នកផ្ទេរសិទ្ធ​ស្រី</label>
                                    <input id="ownerfemalename" name="ownerfemalename" type="text" value="" class="form-control input-sm" placeholder="Enter Name..." />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="ownerfemalephone">លេខទំនាក់ទំនង</label>
                                    <input id="ownerfemalephone" name="ownerfemalephone" type="text" value="" class="form-control input-sm" placeholder="Enter Phone..." />
                                </div>
                            </div>
                        </div>
                        <b class="modal-title" style="color: darkblue;">អ្នកទទួលសិទ្ធ ៖</b>

                        <hr />
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="gotmalename">ឈ្មោះអ្នកទទួលសិទ្ធប្រុស</label>
                                    <input id="gotmalename" name="gotmalename" type="text" value="" class="form-control input-sm" placeholder="Enter Name..." />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="gotmalephone">លេខទំនាក់ទំនង</label>
                                    <input id="gotmalephone" name="gotmalephone" type="text" value="" class="form-control input-sm" placeholder="Enter Phone..." />

                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="gotfemalename">ឈ្មោះអ្នកទទួលសិទ្ធស្រី</label>
                                    <input id="gotfemalename" name="gotfemalename" type="text" value="" class="form-control input-sm" placeholder="Enter Name..." />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="gotfemalephone">លេខទំនាក់ទំនង</label>
                                    <input id="gotfemalephone" name="gotfemalephone" type="text" value="" class="form-control input-sm" placeholder="Enter Phone..." />
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="propertyid">ប្រភេទទ្រព្យ</label>
                                    <select id="propertyid" class="form-control input-sm">
                                        @foreach (var pro in Model.Property)
                                        {
                                            <option value=@pro.id>@pro.property</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <label for="a">&nbsp;</label>
                                    <button data-toggle="modal" data-target="#propertyModal" class="btn btn-success btn-sm pull-right" style="margin-right:5px;"><span class="glyphicon glyphicon-share"></span> @sambocappweb.Resources.Language.New</button>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="landtypeid">ប្រភេទដី</label>
                                    <select id="landtypeid" class="form-control input-sm">
                                        @foreach (var land in Model.LandType)
                                        {
                                            <option value=@land.id>@land.land</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <label for="a">&nbsp;</label>
                                    <button data-toggle="modal" data-target="#landTypeModal" class="btn btn-success btn-sm pull-right" style="margin-right:5px;"><span class="glyphicon glyphicon-share"></span> @sambocappweb.Resources.Language.New</button>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="letterid">ប្រភេទប័ណ្ណ</label>
                                    <select id="letterid" class="form-control input-sm">
                                        @foreach (var let in Model.LetterTypes)
                                        {
                                            <option value=@let.id>@let.letter</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <label for="a">&nbsp;</label>
                                    <button data-toggle="modal" data-target="#letterTypeModal" class="btn btn-success btn-sm pull-right" style="margin-right:5px;"><span class="glyphicon glyphicon-share"></span> @sambocappweb.Resources.Language.New</button>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="date">@sambocappweb.Resources.Language.Date</label>
                                    <input id="date" name="date" type="date" value="" class="form-control input-sm" placeholder="Enter Date" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="shiptype">ប្រភេទនៃការផ្ទេរ</label>
                                    <input id="shiptype" name="shiptype" type="text" value="" class="form-control input-sm" placeholder="ប្រភេទនៃការផ្ទេរ" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="letternumber">លេខប័ណ្ណ</label>
                                    <input id="letternumber" name="letternumber" type="text" value="" class="form-control input-sm" placeholder="Enter Letter Number..." />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="letterdate">កាលបរិច្ឆេទចេញប័ណ្ណ</label>
                                    <input id="letterdate" name="letterdate" type="date" value="" class="form-control input-sm" placeholder="Enter Letter Date" />

                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="hometype">ប្រភេទផ្ទះសម្រាប់បុរី</label>
                                    <textarea type="text" name="hometype" id="hometype" rows="2" style="min-width:100%; max-width:100%" value="" class="form-control input-sm" placeholder="Enter Ship Type..."></textarea>

                                    @*<input id="hometype" name="hometype" type="text" value="" class="form-control input-sm" placeholder="Enter " />*@

                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="location">ទីតាំង</label>
                                    <textarea type="text" name="location" id="location" rows="2" style="min-width:100%; max-width:100%" value="" class="form-control input-sm" placeholder="Enter Location..."></textarea>

                                    @*<input id="location" name="location" type="text" value="" class="form-control input-sm" placeholder="Enter " />*@

                                </div>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="landnote">រៀបរាប់អំពីដី</label>
                                    <textarea type="text" name="landnote" id="landnote" rows="2" style="min-width:100%; max-width:100%" value="" class="form-control input-sm" placeholder="Enter Land Note"></textarea>

                                    @*<input id="landnote" name="landnote" type="text" value="" class="form-control input-sm" placeholder="Enter " />*@

                                </div>
                            </div>
                        </div>

                        <br />

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <button type="button" id="btnOwnerShip" onclick="OwnerShipAction();" class="btn btn-primary btn-block btn-sm">Add New</button>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <button type="button" class="btn btn-danger btn-block btn-sm" data-dismiss="modal">&times; @sambocappweb.Resources.Language.Close</button>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
</form>




