﻿

<div class="modal fade" id="shipProccessModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal" aria-hidden="true">Close</button>
                <b class="modal-title" style="color:darkblue">ដំំណើរការផ្ទេរ</b>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" id="ownershipid" name="ownershipid" hidden value="" />
                                <input type="text" id="ID" name="name" hidden value="" />
                                <div class="form-group">
                                    <label for="datePro">Date</label>
                                    <input type="date" name="datePro" id="datePro" value="" class="form-control input-sm" placeholder="" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="proccesstype">ដំណើរការឯកសារ</label>
                                    <select id="proccesstype" class="form-control input-sm">
                                        <option>ធនាគារ</option>
                                        <option>ភ្ញៀវ</option>
                                        <option>បុរី</option>
                                        <option>ភូមិបាល</option>
                                        <option>មន្ទីរ</option>
                                        <option>ពន្ធដារ</option>
                                        <option>មន្ទីរស្ថាពរ</option>
                                        <option>ប្រគល់ឲ្យធនាគារឬភ្ញៀវ</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="datein">កាលបរិច្ឆេទចូល</label>
                                    <input type="date" name="datein" id="datein" value="" class="form-control input-sm" placeholder="" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="dateout">កាលបរិច្ឆេទចេញ</label>
                                    <input type="date" name="dateout" id="dateout" value="" class="form-control input-sm" placeholder="" />                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="noteProccess">រៀបរាប់</label>
                                    <textarea type="text" name="noteProccess" id="noteProccess" rows="4" style="min-width:100%; max-width:100%" value="" class="form-control input-sm" placeholder="Enter Note"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" id="btnShipProccess" class="btn btn-primary btn-sm btn-block" onclick="ShipProccessAction();">Add New</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row" style="margin-top:10px">
                    <div class="col-md-12">
                        <table class="table-hover table-bordered table-condensed table-striped" style="width:100%" id="shipProccesstbl">
                            <thead>
                                <tr>
                                    <th>ល.រ</th>
                                    <th>ប្រភេទ</th>
                                    <th>កាលបរិច្ឆេទចូល</th>
                                    <th>កាលបរិច្ឆេទចេញ</th>
                                    <th>រៀបរាប់</th>
                                    <th>សកម្មភាព</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



