﻿<form id="employee" method="post" enctype="multipart/form-data">

    <div class="modal fade" data-backdrop="static" data-keyboard="fale" id="otherexpenseModel" tabindex="-1" role="dialog" aria-labelledby="otherexpenseModel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div id="loadingGif"></div>
                <div class="modal-header">
                    <button type="button" class="btn-danger btn-xs pull-right" data-dismiss="modal" aria-hidden="true">Close</button>
                    <b class="modal-title" style="color:darkblue">គ្រប់គ្រងចំណាយផ្សេងៗ</b>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" hidden value="" />
                            <input id="id" name="id" type="text" value="" class="form-control input-sm hidden" placeholder="Enter employeeId" />

                            <div class="form-group">
                                <label for="date">ថ្ងៃខែ</label>
                                <input id="date" name="date" type="date" value="" class="form-control input-sm" placeholder="Enter Product Name" />

                            </div>
                            <div class="form-group">
                                <label for="expensetypeid">ប្រភេទចំណាយ</label>
                                <select class="form-control input-sm" id="expensetypeid">
                                    @foreach (var pos in Model.ExpenseTypes)
                                    {
                                        <option value=@pos.id>@pos.typename</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="subexpensetypeids">ចំណាយលំអិត</label>
                                <select class="form-control input-sm" id="subexpensetypeids">
                                    @foreach (var pos in Model.SubExpenseTypes)
                                    {
                                        <option value=@pos.id>@pos.subtypename</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="amount">ចំនួនប្រាក់</label>
                                <input id="amount" name="amount" type="number" value="" placeholder="Amount" class="form-control input-sm" />

                            </div>
                            <div class="form-group">
                                <label for="paymentmethodid">ប្រភេទសាច់ប្រាក់</label>
                                <select class="form-control input-sm" id="paymentmethodid">
                                    @foreach (var pos in Model.Paymentmethods)
                                    {
                                        <option value=@pos.id>@pos.paymentmethodname</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="note">បរិយាយ</label>
                                <input id="note" name="note" type="text" value="" placeholder="Description" class="form-control input-sm" />

                            </div>
                            @*<div class="form-group">
                                <label for="showroomid" >សាខា</label>
                                <select class="form-control input-sm" id="showroomid" >
                                    @foreach (var pos in Model.Showrooms)
                                    {
                                        <option value=@pos.id>@pos.name</option>
                                    }
                                </select>
                            </div>*@
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button type="button" id="btnOtherExpense" onclick="OtherExpenseAction();" class="btn btn-primary btn-block btn-sm">Add New</button>
                                </div>
                            </div>
                        </div>
                </div>



                </div>
            </div>
        </div>
    </div>
</form>

