﻿
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="BuyerModal" tabindex="-1" role="dialog" aria-labelledby="BuyerModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div id="divLoadingModal"></div>
        <div class="modal-content">
            <div class="modal-header clearfix">
                <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal">&times; @sambocappweb.Resources.Language.Close</button>
                <b class="modal-title" style="color: darkblue;">@sambocappweb.Resources.Language.Buyer</b>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <img class="center img-responsive img-thumbnail" id="BuyerPhoto" src="~/Images/no_image.png" />
                        </div>
                        <div class="form-group">
                            <label>Upload Photo</label>
                            <input onchange="readURLL(this);" type="file" id="Buyerfile" style="width:100%;" />
                            <input type="hidden" value="" id="Buyerfile_old" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <input id="BuyerId" name="BuyerId" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />
                        <div class="form-group">
                            <label for="BuyerName">@sambocappweb.Resources.Language.Buyer</label>
                            <input id="BuyerName" name="BuyerName" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                        </div>

                        <div class="form-group">
                            <label for="BuyerSex">@sambocappweb.Resources.Language.Gender</label>
                            <select class="form-control input-sm" id="BuyerSex">
                                <option>Male</option>
                                <option>Female</option>
                                <option>None</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="BuyerAge">@sambocappweb.Resources.Language.Age</label>
                            <input id="BuyerAge" name="BuyerAge" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                        </div>
                        <div class="form-group">
                            <label for="bdob">@sambocappweb.Resources.Language.DateOfBirth</label>
                            <input id="bdob" name="bdob" placeholder="" type="date" value="" class="form-control input-sm" style="min-width: 100%" />
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="BuyerAddress">@sambocappweb.Resources.Language.Address</label>
                            <input id="BuyerAddress" name="BuyerAddress" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                        </div>
                        <div class="form-group">
                            <label for="BuyerIdentityno">@sambocappweb.Resources.Language.Identity</label>
                            <input id="BuyerIdentityno" name="BuyerIdentityno" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                        </div>
                        <div class="form-group">
                            <label for="BuyerPhone">@sambocappweb.Resources.Language.ContactPhone</label>
                            <input id="BuyerPhone" name="BuyerPhone" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" id="btnBuyerAction" onclick="BuyerAction()" class="btn btn-primary btn-block btn-sm">បង្កើតថ្មី​ / Add New</button>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <table id="BuyerTable" class="table table-hover table-bordered table-condensed table-striped" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>@sambocappweb.Resources.Language.Id</th>
                                    <th>@sambocappweb.Resources.Language.Buyer</th>
                                    <th>@sambocappweb.Resources.Language.Gender</th>
                                    <th>@sambocappweb.Resources.Language.Address</th>
                                    <th>@sambocappweb.Resources.Language.Identity</th>
                                    <th>@sambocappweb.Resources.Language.ContactPhone</th>
                                    <th>@sambocappweb.Resources.Language.Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


