﻿
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="caseexpenseModal" tabindex="-1" role="dialog" aria-labelledby="caseexpenseModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div id="divLoadingModal"></div>
        <div class="modal-content">
            <div class="modal-header clearfix">
                <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal">&times; @sambocappweb.Resources.Language.Close</button>
                <b class="modal-title" style="color: darkblue;">Contract Expense</b>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <input id="caseexpenseid" name="caseexpenseid" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />
                        <input id="userid" name="userid" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />
                        <input id="contractid" name="contractid" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="datetime">Date Time</label>
                                <input id="datetime" name="datetime" placeholder="" type="date" value="" class="form-control input-sm" style="min-width: 100%" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="note">Note</label>
                                <input id="note" name="note" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="offerby">Offer By</label>
                                <select class="form-control input-sm" id="offerby">
                                    <option>Office</option>
                                    <option>Customer</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <input id="caseexpenseid" name="caseexpenseid" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />
                        <input id="civilcaseid" name="civilcaseid" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="startdate">Start Date</label>
                                <input id="startdate" name="startdate" placeholder="" type="datetime-local" value="" class="form-control input-sm" style="min-width: 100%" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="enddate">End Date</label>
                                <input id="enddate" name="enddate" placeholder="" type="datetime-local" value="" class="form-control input-sm" style="min-width: 100%" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="createdate" style="display: none;" disabled="disabled">Create Date</label>
                                <input id="createdate"  name="createdate" placeholder="" type="date" value="" class="form-control input-sm" style="min-width: 100%; display: none;" disabled="disabled" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <button type="button" id="btnSaveCaseexpense" onclick="CaseexpenseAction()" class="btn btn-primary btn-block btn-sm">Add New</button>
                        </div>
                        @*<div class="col-md-6">
                                <button type="button" id="btnCivilPaymentActionBillgroup" onclick="openInvoiceBillgrouop()" class="btn btn-success btn-block btn-sm">Bill Group</button>

                            </div>*@
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <table id="caseexpenseTable" class="table-hover table-bordered table-condensed table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th>@sambocappweb.Resources.Language.Id</th>
                                    <th>@sambocappweb.Resources.Language.Date</th>
                                    <th>Note</th>
                                    <th>Offer By</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>@sambocappweb.Resources.Language.Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@Html.Partial("_CaseexpenseDetail")

