﻿

<div class="modal fade" data-backdrop="static" data-keyboard="false" id="DisputeModal" tabindex="-1" role="dialog" aria-labelledby="DisputeModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div id="divLoadingModal"></div>
        <div class="modal-content">
            <div class="modal-header clearfix">
                <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal">&times; @sambocappweb.Resources.Language.Close</button>
                <b class="modal-title" style="color: darkblue;"> @sambocappweb.Resources.Language.Dispute</b>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <input id="Disputeid" name="Disputeid" type="text" style="display: none;" disabled="disabled" value="" class="form-control" />
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="dname"> @sambocappweb.Resources.Language.Name</label>
                                <input id="dname" name="dname" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="dnote"> @sambocappweb.Resources.Language.Note</label>
                                <input id="dnote" name="dnote" placeholder="" type="text" value="" class="form-control input-sm" style="min-width: 100%" />
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <button type="button" id="btnSaveDispute" onclick="DisputeAction()" class="btn btn-primary btn-block btn-sm">Add New</button>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <table id="DisputeTable" class="table-hover table-bordered table-condensed table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th>@sambocappweb.Resources.Language.Id</th>
                                    <th>@sambocappweb.Resources.Language.Name</th>
                                    <th>@sambocappweb.Resources.Language.Note</th>
                                    <th>@sambocappweb.Resources.Language.Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
