﻿@using sambocappweb.Resources
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="contractshopModel" aria-labelledby="contractshopModel" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn btn-warning btn-xs pull-right" onclick="btnSaveContract_load();" id="btCreatecontrct" data-toggle="modal" data-target="#SelectModel"><span class="glyphicon glyphicon-plus-sign"></span>@Language.New_contract</button>
                <b class="modal-title" style="color:darkblue">Contract Shop</b>
                <div class="row">
                    <div class="col-md-12 pull-right"style="display:none">
                        <div class="form-group">
                            <input type="text" name="id" id="shopID" class="form-control input-sm " value="" />
                            <input type="text" name="id" id="shopNameCon" class="form-control input-sm " value="" />

                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-body">
                <table class="table-hover table-bordered table-condensed table-striped" style="width:100%" id="tblContract">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Shop Name</th>
                            <th>Date</th>
                            <th>Attachment</th>
                            <th>Note</th>
                            <th>Action_______</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

                <hr />
                <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal" aria-hidden="true" onclick="Reload();">Close</button>
                <br />
            </div>

        </div>
    </div>
</div>


@Html.Partial("_ContractShops")

@section scripts{
    @*@Scripts.Render("~/Scripts/moment.min.js")*@
    @Scripts.Render("~/Scripts/Functions/contract.js")

}


