﻿




<div class="modal fade" data-backdrop="static" data-keyboard="false" id="qrcodeModal" aria-labelledby="qrcodeModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn btn-danger btn-xs pull-right" data-dismiss="modal" aria-hidden="true">Close</button>
                <b class="modal-title" style="color:darkblue">Manage Qrcode</b>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" id="ID" name="ID" hidden value="" />
                        <div class="form-group">
                            <img class="center img-responsive img-thumbnail" id="qrCodePhoto" src="~/Images/company.png" alt="Alternate Text" />
                        </div>
                        <div class="form-group">
                            <label>Upload Photo</label>
                            <input onchange="readURLQrcode(this);" type="file" name="file" id="file" style="width:100%;" value="" />
                            <input type="hidden" value="" id="file_old" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <button class="btn btn-sm btn-primary form-control" onclick="QrcodeAction();" id="btnQrcode">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

