﻿@{ ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
<link href="~/Content/Layout/css/table.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="panel panel-primary">
        <div class="panel-heading clearfix">
            <button type="button" class="btn btn-success btn-xs pull-right" id="btnbanner" onclick="AddNewActionControl();" data-toggle="modal" data-target="#qrcodeModal" style="margin-right:10px"><span class="glyphicon glyphicon-plus-sign"></span>AddNew QrCode</button>
            <h5 class="modal-title">Qrcode</h5>

        </div>
        <div class="panel-body" style="overflow-x:auto;">
            <div class="row">
                <table class="table-hover table-bordered table-condensed table-striped" style="width:100%" id="tblQrcode">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Qr Code</th>
                            <th>createdate</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_Qrcode")
@section scripts{
    @Scripts.Render("~/Scripts/moment.min.js")
    @Scripts.Render("~/Scripts/Functions/qrcode.js")
}

