﻿<div class="modal fade" data-backdrop="static" data-keyboard="fale" id="beginingModel" tabindex="-1" role="dialog" aria-labelledby="beginingModel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="loadingGif"></div>
            <div class="modal-header">
                <button type="button" class="btn-danger btn-xs pull-right" data-dismiss="modal" aria-hidden="true">Close</button>
                <b class="modal-title" style="color:darkblue">@sambocappweb.Resources.Language.BeginingBalace</b>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="text" hidden value="" />
                            <input id="balanceid" name="balanceid" type="text" value="" class="form-control input-sm hidden" />
                            <label for="balancedate">@sambocappweb.Resources.Language.Date</label>
                            <input id="balancedate" name="balancedate" type="date" value="" class="form-control input-sm" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="paymentmethodid">@sambocappweb.Resources.Language.PaymentMethod</label>
                            <select class="form-control input-sm" id="paymentmethodid">
                                @foreach (var pos in Model.PaymentMethods)
                                {
                                    <option value=@pos.id>@pos.paymentmethodname</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="balanceamount">@sambocappweb.Resources.Language.PaidAmount</label>
                            <input id="balanceamount" name="balanceamount" type="text" value="" class="form-control input-sm" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <button type="button" id="btnBegining" onclick="BeginningAction();" class="btn btn-primary btn-block btn-sm">Add New</button>
                    </div>
                </div>

                <hr />

                <div class="row">
                    <div class="col-md-12">
                        <table id="beginningBalanceTable" class="table-hover table-bordered table-condensed table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <td>@sambocappweb.Resources.Language.Id</td>
                                    <td>@sambocappweb.Resources.Language.Date</td>
                                    <td>@sambocappweb.Resources.Language.Description</td>
                                    <td>@sambocappweb.Resources.Language.PaidAmount</td>
                                    <td>@sambocappweb.Resources.Language.Action</td>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>




