﻿<div class="modal fade" data-backdrop="static" data-keyboard="fale" id="transferModel" tabindex="-1" role="dialog" aria-labelledby="transferModel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="loadingGif"></div>
            <div class="modal-header">
                <button type="button" class="btn-danger btn-xs pull-right" data-dismiss="modal" aria-hidden="true">Close</button>
                <b class="modal-title" style="color:darkblue">@sambocappweb.Resources.Language.TransferInfo</b>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input id="transferid" name="transferid" type="text" value="" class="form-control input-sm hidden" />
                            <label for="transferdate">@sambocappweb.Resources.Language.TransferDate</label>
                            <input id="transferdate" name="transferdate" type="date" value="" class="form-control input-sm" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="fromid">@sambocappweb.Resources.Language.Transferfrom</label>
                            <select class="form-control input-sm" id="fromid">
                                @foreach (var pos in Model.PaymentMethods)
                                {
                                    <option value=@pos.id>@pos.paymentmethodname</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="toid">@sambocappweb.Resources.Language.Transferto</label>
                            <select class="form-control input-sm" id="toid">
                                @foreach (var pos in Model.PaymentMethods)
                                {
                                    <option value=@pos.id>@pos.paymentmethodname</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="transferamount">@sambocappweb.Resources.Language.Transferamount</label>
                            <input id="transferamount" name="transferamount" type="number" value="" class="form-control input-sm" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="transfernote">@sambocappweb.Resources.Language.Transfernote</label>
                            <input id="transfernote" name="transfernote" type="text" value="" class="form-control input-sm" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <button type="button" id="btnTransfer" onclick="TransferAction();" class="btn btn-primary btn-block btn-sm">Add New</button>
                    </div>
                </div>

                <hr />

                <div class="row">
                    <div class="col-md-12">
                        <table id="transferTable" class="table-hover table-bordered table-condensed table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <td>@sambocappweb.Resources.Language.Id</td>
                                    <td>@sambocappweb.Resources.Language.TransferDate</td>
                                    <td>@sambocappweb.Resources.Language.Transferfrom</td>
                                    <td>@sambocappweb.Resources.Language.Transferto</td>
                                    <td>@sambocappweb.Resources.Language.Transferamount</td>
                                    <td>@sambocappweb.Resources.Language.Action</td>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>




